Repository objectiv/objectiv-analytics, pull requests merged in 2022-05, with the labels that each got.

#685 Add CLA workflow
  .github/workflows/cla.yml
Labels: Type: Under the Hood

#678 Support `Series.quantile` for BigQuery
  .github/workflows/cla.yml
  bach/bach/dataframe.py
  bach/bach/from_database.py
  bach/bach/operations/describe.py
  bach/bach/quantile.py
  bach/bach/series/series.py
  bach/bach/series/series_boolean.py
  bach/tests/functional/bach/test_df_describe.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_series_numeric.py
Labels: Area: Bach, Component: BigQuery

#686 abstaction of series multi level
  bach/bach/dataframe.py
  bach/bach/expression.py
  bach/bach/partitioning.py
  bach/bach/series/__init__.py
  bach/bach/series/series.py
  bach/bach/series/series_multi_level.py
  bach/bach/series/series_uuid.py
  bach/bach/types.py
  bach/tests/functional/bach/test_df_groupby.py
  bach/tests/functional/bach/test_series_multi_level.py
  bach/tests/unit/bach/test_series_multi_level.py
Labels: Area: Bach

#698 Fix quantile calculation for BigQuery
  bach/bach/quantile.py
Labels: Type: Bug, Area: Bach

#696 Bach bq array struct pre work value renaming
  bach/bach/dataframe.py
  bach/bach/indexing.py
  bach/bach/series/__init__.py
  bach/bach/series/series.py
  bach/bach/series/series_boolean.py
  bach/bach/series/series_datetime.py
  bach/bach/series/series_multi_level.py
  bach/bach/series/series_string.py
  bach/bach/series/series_uuid.py
  bach/bach/types.py
  bach/tests/functional/bach/test_df_groupby.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_series_float.py
  bach/tests/functional/bach/test_series_multi_level.py
  bach/tests/functional/bach/test_series_string.py
  bach/tests/functional/bach/test_series_uuid.py
  bach/tests/unit/bach/test_series_multi_level.py
Labels: Area: Bach, Type: Under the Hood

#697 Bach bq array struct pre work series changes
  bach/bach/dataframe.py
  bach/bach/series/series.py
  bach/bach/series/series_datetime.py
  bach/bach/series/series_multi_level.py
  bach/bach/series/series_uuid.py
Labels: Area: Bach, Type: Under the Hood

#695 Example notebooks: few clarifications
  notebooks/basic-product-analytics.ipynb
  notebooks/basic-user-intent.ipynb
Labels: Type: Enhancement, Area: Demo

#710 Fix PR write permission for CLA bot
  .github/workflows/cla.yml
Labels: Status: Ignore for Changelog

#684 Add version checking
  modelhub/modelhub/__init__.py
  modelhub/pytest.ini
  modelhub/requirements-dev.txt
  modelhub/requirements.txt
  modelhub/setup.cfg
  version_checker/Makefile
  version_checker/app.py
  version_checker/docker-compose.yaml
  version_checker/docker/Dockerfile
  version_checker/docker/entry_point.sh
  version_checker/docker/gunicorn.conf.py
  version_checker/docker/nginx.conf
  version_checker/requirements.txt
  version_checker/wsgi.py
Labels: Area: Modeling, Type: Story

#717 Add new account Vard to CLA allow list
  .github/workflows/cla.yml
Labels: Status: Ignore for Changelog

#716 Bach Series `reset_index` support
  bach/bach/series/series.py
  bach/tests/functional/bach/test_df_reset_index.py
  bach/tests/functional/bach/test_series_reset_index.py
Labels: Area: Bach

#715 Remove erroneous and redundant comment on version check timeout
  modelhub/modelhub/__init__.py
Labels: Area: Modeling, Type: Under the Hood

#719 Modeling docs: support targets & attributes + smaller fixes
  README.md
  bach/docs/source/_ext/sphinx_docusaurus_builder/doctree2md.py
  bach/docs/source/_ext/sphinx_docusaurus_builder/docusaurus_writer.py
  bach/docs/source/conf.py
  bach/docs/source/example-notebooks/feature-engineering.rst
  bach/docs/source/example-notebooks/index.rst
  bach/docs/source/example-notebooks/machine-learning.rst
  bach/docs/source/example-notebooks/modelhub-basics.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
  bach/docs/source/index.rst
  bach/docs/source/open-model-hub/models/Aggregate/index.rst
  bach/docs/source/open-model-hub/models/Map/index.rst
  bach/docs/source/open-model-hub/models/index.rst
  modelhub/README.md
  notebooks/README.md
  notebooks/basic-product-analytics.ipynb
  notebooks/basic-user-intent.ipynb
  notebooks/feature-engineering.ipynb
  notebooks/model-hub-demo-notebook.ipynb
  notebooks/open-taxonomy-how-to.ipynb
  notebooks/sklearn-example.ipynb
Labels: Area: Modeling, Area: Docs

#709 Additional `MarketingContext` fields in taxonomy
  schema/base_schema.json5
Labels: Area: Taxonomy

#725 Fix docs for `Series.mode()` and `Series.sort_values()`
  bach/bach/series/series.py
Labels: Area: Bach, Area: Docs

#729 Update link to new open model hub intro in README
  README.md
Labels: Status: Ignore for Changelog

#700 Add SeriesDict, SeriesList, and all related changes
  bach/bach/dataframe.py
  bach/bach/expression.py
  bach/bach/from_database.py
  bach/bach/from_pandas.py
  bach/bach/operations/concat.py
  bach/bach/operations/cut.py
  bach/bach/series/__init__.py
  bach/bach/series/series.py
  bach/bach/series/series_boolean.py
  bach/bach/series/series_datetime.py
  bach/bach/series/series_dict.py
  bach/bach/series/series_json.py
  bach/bach/series/series_list.py
  bach/bach/series/series_multi_level.py
  bach/bach/series/series_numeric.py
  bach/bach/series/series_string.py
  bach/bach/series/series_uuid.py
  bach/bach/sql_model.py
  bach/bach/types.py
  bach/bach/types_bq.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_series_dict.py
  bach/tests/functional/bach/test_series_list.py
  bach/tests/unit/bach/test_describe.py
  bach/tests/unit/bach/test_series.py
  bach/tests/unit/bach/test_series_dict.py
  bach/tests/unit/bach/test_series_list.py
  bach/tests/unit/bach/test_series_multi_level.py
  bach/tests/unit/bach/test_series_timestamp.py
  bach/tests/unit/bach/test_series_window_functions.py
  bach/tests/unit/bach/test_types.py
  bach/tests/unit/bach/test_types_bq.py
  bach/tests/unit/bach/test_types_custom_type.py
  bach/tests/unit/bach/util.py
Labels: Type: Story, Area: Bach, Component: BigQuery

#712 Test `SeriesJson` & fix DataFrame issue
  bach/bach/dataframe.py
  bach/bach/series/series_json.py
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_astype.py
  bach/tests/functional/bach/test_series_json.py
Labels: Type: Bug, Area: Bach

#735 Rename data sets to dataframe in modeling intro
  bach/bach/series/series.py
  bach/docs/source/index.rst
Labels: Area: Modeling, Area: Docs

#736 Update all readmes to align with docs
  README.md
  bach/README.md
  bach/docs/source/bach/examples.rst
  bach/docs/source/bach/index.rst
  bach/docs/source/example-notebooks/modelhub-basics.rst
  modelhub/README.md
  notebooks/model-hub-demo-notebook.ipynb
  schema/CONTRIBUTING.md
  schema/README.md
  tracker/README.md
  tracker/core/schema/README.md
  tracker/core/schema/package.json
  tracker/trackers/angular/README.md
  tracker/trackers/angular/package.json
  tracker/trackers/browser/README.md
  tracker/trackers/browser/package.json
  tracker/trackers/react-native/README.md
  tracker/trackers/react-native/package.json
  tracker/trackers/react/README.md
  tracker/trackers/react/package.json
Labels: Area: Docs

#731 bump version to v0.0.5
  bach/bach/__init__.py
  modelhub/modelhub/__init__.py
  modelhub/setup.cfg
Labels: Area: Modeling, Area: Bach, Type: Under the Hood

#740 Feature importance example notebook
  bach/docs/source/example-notebooks/feature_importance.rst
  bach/docs/source/example-notebooks/index.rst
Labels: Area: Modeling, Area: Docs

#743 Modeling Docs: changes that don't affect URLs
  bach/bach/series/series.py
  bach/bach/series/series_boolean.py
  bach/bach/series/series_datetime.py
  bach/bach/series/series_dict.py
  bach/bach/series/series_json.py
  bach/bach/series/series_list.py
  bach/bach/series/series_numeric.py
  bach/bach/series/series_string.py
  bach/bach/series/series_uuid.py
  bach/docs/Makefile
  bach/docs/README.md
  bach/docs/source/bach/core-concepts.rst
Labels: Area: Bach, Area: Docs

#741 Bach series materialize
  bach/bach/series/series.py
  bach/bach/series/series_dict.py
  bach/bach/series/series_json.py
  bach/tests/functional/bach/test_series_materialize.py
Labels: Area: Bach

#680 Makefile Docker amd64 & arm64 builds
  Makefile
  backend/Makefile
Labels: Type: Enhancement, Type: Under the Hood

#748 React Tracker: Success and Failure event tracking hooks improvements
  tracker/core/react/src/hooks/eventTrackers/useFailureEventTracker.ts
  tracker/core/react/src/hooks/eventTrackers/useSuccessEventTracker.ts
  tracker/core/react/tests/FailureEvent.test.tsx
  tracker/core/react/tests/SuccessEvent.test.tsx
Labels: Area: Tracking, Type: Under the Hood

#749 Small modeling docs improvements
  bach/docs/source/example-notebooks/index.rst
  bach/docs/source/index.rst
Labels: Area: Modeling, Area: Docs

#750 Remove obsolete copright notices from READMEs
  README.md
  bach/README.md
  backend/README.md
  schema/README.md
  tracker/README.md
Labels: Status: Ignore for Changelog

#751 Do not aggregate the index in a DataFrame
  bach/bach/dataframe.py
  bach/bach/plotting.py
  bach/docs/source/bach/api-reference/Series/index.rst
  bach/tests/functional/bach/test_df.py
  bach/tests/functional/bach/test_df_getitem.py
  bach/tests/functional/bach/test_df_groupby.py
  bach/tests/functional/bach/test_df_materialize.py
  bach/tests/functional/bach/test_df_reset_index.py
  bach/tests/functional/bach/test_df_sample.py
  bach/tests/functional/bach/test_series.py
  bach/tests/functional/bach/test_series_boolean.py
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_frequency.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_session_duration.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_sessions.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_users.py
  modelhub/tests_modelhub/functional/modelhub/test_series_objectiv.py
  notebooks/basic-user-intent.ipynb
Labels: Area: Bach

#752 fix iff
  bach/bach/series/series_boolean.py
Labels: Type: Enhancement, Area: Bach

#707 Constants for MergeSqlModel node aliases
  bach/bach/merge.py
Labels: Area: Bach, Type: Under the Hood

#708 Updated `DataFrame.merge` docstring for `on` params
  bach/bach/dataframe.py
Labels: Area: Bach, Type: Under the Hood

#753 Use `materialize` and `reset_index` for Series in notebooks, docs, tests
  bach/bach/dataframe.py
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
  bach/tests/functional/bach/test_series.py
  modelhub/modelhub/map.py
  notebooks/basic-product-analytics.ipynb
  notebooks/basic-user-intent.ipynb
Labels: Type: Enhancement, Area: Bach, Area: Docs, Area: Demo

#728 Support TimeDeltaSeries for BigQuery
  bach/bach/series/series_datetime.py
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_series_timedelta.py
  bach/tests/functional/bach/test_series_timestamp.py
  bach/tests/unit/bach/test_series_timedelta.py
Labels: Area: Bach, Component: BigQuery

#732 Rename Series: SeriesJson -> SeriesJsonPostgres; SeriesJsonB - > SeriesJson
  bach/bach/dataframe.py
  bach/bach/series/__init__.py
  bach/bach/series/series.py
  bach/bach/series/series_json.py
  bach/bach/types.py
  bach/docs/source/bach/api-reference/Series/JsonPostgres/index.rst
  bach/docs/source/bach/api-reference/index.rst
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_astype.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_materialize.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_series_json.py
  modelhub/modelhub/modelhub.py
  modelhub/modelhub/series/series_objectiv.py
  modelhub/tests_modelhub/functional/modelhub/data_and_utils.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery

#733 Move SeriesJson.Json class up one level
  bach/bach/series/series_json.py
  modelhub/modelhub/series/series_objectiv.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery

#745 Explicit column names in SQL used in `from_table`
  bach/bach/dataframe.py
  bach/tests/functional/bach/test_df_from_pandas.py
Labels: Area: Bach, Type: Under the Hood

#718 Bach BQ: SeriesJson
  bach/bach/series/series_json.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_series_json.py
Labels: Area: Bach, Component: BigQuery

#761 use instance_dtype instead of dtype
  bach/bach/dataframe.py
  bach/tests/functional/bach/test_df_getitem.py
Labels: Type: Bug, Area: Bach

#742 Bach docs: add Series
  bach/docs/source/bach/api-reference/Series/AbstractDateTime/index.rst
  bach/docs/source/bach/api-reference/Series/AbstractNumeric/index.rst
  bach/docs/source/bach/api-reference/Series/Boolean/index.rst
  bach/docs/source/bach/api-reference/Series/Date/index.rst
  bach/docs/source/bach/api-reference/Series/Dict/index.rst
  bach/docs/source/bach/api-reference/Series/Float/index.rst
  bach/docs/source/bach/api-reference/Series/Int/index.rst
  bach/docs/source/bach/api-reference/Series/Json/index.rst
  bach/docs/source/bach/api-reference/Series/JsonPostgres/index.rst
  bach/docs/source/bach/api-reference/Series/List/index.rst
  bach/docs/source/bach/api-reference/Series/String/index.rst
  bach/docs/source/bach/api-reference/Series/Time/index.rst
  bach/docs/source/bach/api-reference/Series/Timedelta/index.rst
  bach/docs/source/bach/api-reference/Series/Timestamp/index.rst
  bach/docs/source/bach/api-reference/Series/Uuid/index.rst
  bach/docs/source/bach/api-reference/Series/index.rst
  bach/docs/source/bach/api-reference/index.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
Labels: Area: Bach, Area: Docs

#766 Trackers Developer Tools: Event recorder
  tracker/core/developer-tools/package.json
  tracker/core/developer-tools/src/EventRecorder.ts
  tracker/core/developer-tools/src/index.ts
  tracker/core/developer-tools/tests/EventRecorder.test.ts
  tracker/core/developer-tools/tests/TrackerConsole.jsdom.test.ts
  tracker/core/react/tests/ObjectivProvider.test.tsx
  tracker/core/react/tests/TrackerProvider.test.tsx
  tracker/core/react/tests/TrackingContextProvider.test.tsx
  tracker/core/tracker/src/EventRecorderInterface.ts
  tracker/core/tracker/src/Tracker.ts
  tracker/core/tracker/src/TrackerDeveloperToolsInterface.ts
  tracker/core/tracker/src/TrackerTransportGroup.ts
  tracker/core/tracker/src/index.ts
  tracker/core/tracker/tests/Tracker.test.ts
  tracker/trackers/browser/tests/BrowserTracker.test.ts
  tracker/trackers/browser/tests/globals.test.ts
  tracker/trackers/react-native/tests/ReactNativeTracker.test.ts
  tracker/trackers/react/tests/ReactTracker.test.ts
  tracker/trackers/react/tests/withoutDOM.test.ts
Labels: Area: Tracking, Type: Under the Hood

#765 Fxed class name in the text of notebooks
  notebooks/basic-product-analytics.ipynb
  notebooks/basic-user-intent.ipynb
Labels: Area: Demo

#774 Changes in conversion event tests
  modelhub/modelhub/map.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
Labels: Area: Modeling

#754 `DataFrame.merge()` docstring improvement
  bach/bach/dataframe.py
Labels: Area: Bach, Area: Docs

#773 Added columns attribute for DataFrame
  bach/bach/dataframe.py
  bach/docs/source/bach/api-reference/DataFrame/index.rst
Labels: Area: Bach

#777 BQ: Remove window frame for `LAG` and `LEAD`
  bach/bach/partitioning.py
  bach/tests/functional/bach/test_df_window.py
  bach/tests/unit/bach/test_series_window_functions.py
Labels: Type: Bug, Area: Bach

#790 ModelHub: Functional Tests for ExtractedContextsPipeline and SessionizedDataPipeline
  modelhub/tests_modelhub/functional/modelhub/test_stack_extracted_contexts.py
  modelhub/tests_modelhub/functional/modelhub/test_stack_sessionized_data.py
Labels: Area: Modeling, Component: BigQuery

#784 ModelHub: Package for data and utils for pytest.
  modelhub/tests_modelhub/conftest.py
  modelhub/tests_modelhub/data_and_utils/__init__.py
  modelhub/tests_modelhub/data_and_utils/data_json_real.py
  modelhub/tests_modelhub/data_and_utils/data_objectiv.py
  modelhub/tests_modelhub/data_and_utils/utils.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_frequency.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_session_duration.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_sessions.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_users.py
  modelhub/tests_modelhub/functional/modelhub/test_series_objectiv.py
Labels: Area: Modeling, Type: Under the Hood

#775 Convert UUID values in assert_equals_data
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_series_uuid.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_sessions.py
Labels: Area: Bach, Type: Under the Hood

#682 Enable GH BQ testing
  .github/workflows/bach-tests.yml
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery
