Repository objectiv/objectiv-analytics, pull requests merged in 2022-04, with the labels that each got.

#598 Consistently use Postgres specific test url in tests
  .github/workflows/bach-tests.yml
  .github/workflows/modelhub_tests.yml
  bach/docs/source/conf.py
  bach/tests/conftest.py
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/sql_models/test_sql_generator_materialization.py
  modelhub/tests_modelhub/functional/modelhub/data_and_utils.py
Labels: Area: Bach, Type: Under the Hood

#599 Support `from_table()` for BigQuery basic data types
  bach/bach/from_database.py
  bach/bach/series/series.py
  bach/bach/series/series_boolean.py
  bach/bach/series/series_datetime.py
  bach/bach/series/series_json.py
  bach/bach/series/series_numeric.py
  bach/bach/series/series_string.py
  bach/bach/series/series_uuid.py
  bach/bach/types.py
  bach/sql_models/constants.py
  bach/sql_models/util.py
  bach/tests/functional/bach/test_bt_custom_types.py
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_from.py
  modelhub/modelhub/modelhub.py
Labels: Type: Story, Area: Bach

#596 Support setting basic literals for BigQuery
  bach/bach/from_pandas.py
  bach/bach/series/series.py
  bach/bach/series/series_boolean.py
  bach/bach/series/series_datetime.py
  bach/bach/series/series_json.py
  bach/bach/series/series_numeric.py
  bach/bach/series/series_string.py
  bach/bach/series/series_uuid.py
  bach/bach/sql_model.py
  bach/tests/functional/bach/test_bt_custom_types.py
  bach/tests/functional/bach/test_df_setitem.py
Labels: Type: Story, Area: Bach

#601 Support `astype()` on BigQuery for basic types
  bach/bach/series/series.py
  bach/bach/series/series_boolean.py
  bach/bach/series/series_datetime.py
  bach/bach/series/series_json.py
  bach/bach/series/series_numeric.py
  bach/bach/series/series_string.py
  bach/bach/series/series_uuid.py
  bach/tests/functional/bach/test_bt_custom_types.py
  bach/tests/functional/bach/test_df_astype.py
Labels: Type: Story, Area: Bach

#602 Speed up test_df_setitem: set all columns in a test in one go
  bach/tests/functional/bach/test_df_setitem.py
Labels: Area: Bach, Type: Under the Hood

#608 Bach BQ: convert more tests
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_getitem.py
  bach/tests/functional/bach/test_df_materialize.py
  bach/tests/functional/bach/test_df_reset_index.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_df_sort_values.py
  bach/tests/functional/bach/test_series_append.py
  bach/tests/functional/bach/test_series_boolean.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/functional/bach/test_series_float.py
  bach/tests/functional/bach/test_series_int.py
  bach/tests/functional/bach/test_series_numeric.py
  bach/tests/functional/bach/test_series_string.py
  bach/tests/functional/bach/test_series_time.py
  bach/tests/functional/bach/test_series_timedelta.py
  bach/tests/functional/bach/test_series_timestamp.py
  bach/tests/unit/bach/test_df_reset_index.py
  bach/tests/unit/bach/test_merge.py
  bach/tests/unit/bach/test_series_numeric.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery

#609 Bach BQ: int small improvements
  bach/bach/series/series_numeric.py
  bach/tests/functional/bach/test_series_int.py
Labels: Type: Enhancement, Area: Bach, Component: BigQuery

#570 `Dataframe.unstack()`, support multi levels
  bach/bach/dataframe.py
  bach/bach/series/series.py
  bach/docs/source/bach_core_concepts.rst
  bach/tests/functional/bach/test_df_unstack.py
  bach/tests/functional/bach/test_series.py
Labels: Type: Story, Area: Bach

#572 Support of ``DataFrame.get_dummies`` and ``SeriesString.get_dummies``
  bach/bach/dataframe.py
  bach/bach/series/series_string.py
  bach/docs/source/DataFrame.rst
  bach/docs/source/bach_reference_dataframe_by_function.rst
  bach/tests/functional/bach/test_df_get_dummies.py
  bach/tests/functional/bach/test_series_string.py
Labels: Type: Story, Area: Bach

#610 Change merge in `cut` and `qcut`
  bach/bach/operations/cut.py
Labels: Type: Enhancement, Area: Bach

#611 Fix merge on series boolean with renamed serie
  bach/bach/merge.py
  bach/tests/functional/bach/test_df_merge.py
Labels: Type: Enhancement, Area: Bach

#625 Bach check valid column names
  bach/bach/series/series.py
  bach/bach/utils.py
  bach/tests/functional/bach/test_df_rename.py
  bach/tests/functional/bach/test_injection_column_name_escaping.py
  bach/tests/unit/bach/test_df_rename.py
  bach/tests/unit/bach/test_df_setitem.py
  bach/tests/unit/bach/test_series.py
  bach/tests/unit/bach/test_utils.py
  bach/tests/unit/bach/util.py
Labels: Type: Enhancement, Area: Bach, Component: BigQuery

#597 Bach: `method` param for Cut operation
  bach/bach/operations/cut.py
  bach/bach/series/series.py
  bach/tests/functional/bach/test_cut.py
  bach/tests/functional/bach/test_series_value_counts.py
Labels: Type: Story, Area: Bach

#630 Bach categorize unittests: mutli-db or db-independent
  bach/Makefile
  bach/pytest.ini
  bach/tests/conftest.py
  bach/tests/unit/bach/test_concat.py
  bach/tests/unit/bach/test_describe.py
  bach/tests/unit/bach/test_df.py
  bach/tests/unit/bach/test_df_rename.py
  bach/tests/unit/bach/test_display_formats.py
  bach/tests/unit/bach/test_expression.py
  bach/tests/unit/bach/test_merge.py
  bach/tests/unit/bach/test_series.py
  bach/tests/unit/bach/test_sql_model.py
  bach/tests/unit/bach/test_utils.py
  bach/tests/unit/bach/util.py
  bach/tests/unit/sql_models/test_graph_operations.py
  bach/tests/unit/sql_models/test_graph_operations_replace_node.py
  bach/tests/unit/sql_models/test_model.py
  bach/tests/unit/sql_models/test_model_escape_format.py
  bach/tests/unit/sql_models/test_sql_generator.py
  bach/tests/unit/sql_models/test_sql_query_parser.py
  bach/tests/unit/sql_models/test_util.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery

#631 convert test_bt_customer_types
  bach/tests/functional/bach/test_bt_custom_types.py
  bach/tests/unit/bach/test_typing.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery

#574 Support ```DataFrame.scale```. ```StandardScaler```
  bach/bach/dataframe.py
  bach/bach/preprocessing/__init__.py
  bach/bach/preprocessing/scalers.py
  bach/bach/series/series_numeric.py
  bach/docs/source/DataFrame.rst
  bach/docs/source/bach_reference_dataframe_by_function.rst
  bach/docs/source/bach_reference_series_by_function.rst
  bach/requirements-dev.txt
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_scale.py
  bach/tests/functional/bach/test_series_numeric.py
Labels: Type: Story, Area: Bach

#639 remove duplicated ignore_index in cut operation
  bach/bach/operations/cut.py
Labels: Area: Bach, Type: Under the Hood

#643 Trackers: TrackerPlatform
  tracker/core/react/tests/ObjectivProvider.test.tsx
  tracker/core/react/tests/TrackerProvider.test.tsx
  tracker/core/react/tests/TrackingContextProvider.test.tsx
  tracker/core/tracker/src/Tracker.ts
  tracker/core/tracker/src/plugins/ApplicationContextPlugin.ts
  tracker/trackers/angular/src/AngularTracker.ts
  tracker/trackers/angular/src/objectiv-tracker.initializer.ts
  tracker/trackers/browser/src/BrowserTracker.ts
  tracker/trackers/browser/src/definitions/BrowserTrackerConfig.ts
  tracker/trackers/react-native/src/ReactNativeTracker.ts
  tracker/trackers/react/src/ReactTracker.ts
Labels: Area: Tracking, Type: Under the Hood

#637 BigQuery: create test data and functions
  bach/README.md
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_describe.py
  bach/tests/functional/bach/test_df_merge.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_df_sort_index.py
  bach/tests/functional/bach/test_df_value_counts.py
  bach/tests/functional/bach/test_df_variables.py
  bach/tests/functional/bach/test_revert_merge.py
  bach/tests/functional/bach/test_series.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/functional/bach/test_series_timestamp.py
  bach/tests/functional/bach/test_series_value_counts.py
Labels: Area: Bach, Component: BigQuery

#649 consider boolean indexing even if df has no index
  bach/bach/indexing.py
  bach/tests/functional/bach/test_df_indexing.py
Labels: Type: Bug, Area: Bach

#646 Make tests, that don't work yet on BigQuery, Postgres-only
  bach/tests/functional/bach/test_df_plot.py
Labels: Area: Bach, Type: Under the Hood

#653 Replace all `get_from_df` with `DataFrame.from_pandas`
  bach/tests/functional/bach/test_cut.py
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df.py
  bach/tests/functional/bach/test_df_append.py
  bach/tests/functional/bach/test_df_describe.py
  bach/tests/functional/bach/test_df_dropna.py
  bach/tests/functional/bach/test_df_fillna.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_get_dummies.py
  bach/tests/functional/bach/test_df_indexing.py
  bach/tests/functional/bach/test_df_merge.py
  bach/tests/functional/bach/test_df_reset_index.py
  bach/tests/functional/bach/test_df_unstack.py
  bach/tests/functional/bach/test_df_variables.py
  bach/tests/functional/bach/test_pandas_loading.py
  bach/tests/functional/bach/test_series.py
  bach/tests/functional/bach/test_series_describe.py
  bach/tests/functional/bach/test_series_drop_duplicates.py
  bach/tests/functional/bach/test_series_numeric.py
  bach/tests/functional/bach/test_series_timedelta.py
  modelhub/tests_modelhub/functional/modelhub/data_and_utils.py
Labels: Area: Bach, Component: BigQuery

#650 Bach bq small improvements
  bach/bach/dataframe.py
  bach/bach/indexing.py
  bach/bach/series/series.py
  bach/bach/types.py
  bach/tests/functional/bach/test_series_boolean.py
  bach/tests/functional/bach/test_series_int.py
  bach/tests/functional/bach/test_series_numeric.py
  bach/tests/functional/bach/test_series_timedelta.py
  bach/tests/functional/bach/test_series_timestamp.py
Labels: Area: Bach, Type: Under the Hood

#654 User intent
  bach/docs/source/example_notebooks.rst
  bach/docs/source/intro.rst
  bach/docs/source/user_intent.rst
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_session_duration.py
  notebooks/basic-analysis.ipynb
  notebooks/basic-user-intent.ipynb
Labels: Area: Modeling, Type: Story

#655 Snowplow AWS pipeline support
  backend/mypy.ini
  backend/objectiv_backend/common/config.py
  backend/objectiv_backend/end_points/collector.py
  backend/objectiv_backend/end_points/extra_output.py
  backend/objectiv_backend/snowplow/docs/README.MD
  backend/objectiv_backend/snowplow/docs/aws.md
  backend/objectiv_backend/snowplow/docs/gcp.md
  backend/objectiv_backend/snowplow/snowplow_helper.py
  backend/requirements-dev.txt
  backend/tests/collector/test_snowplow.py
Labels: Area: Backend, Type: Story

#632 Revert Merge: Improve _determine_series_per_source
  bach/bach/merge.py
Labels: Type: Enhancement, Area: Bach

#659 Parallelization using pytest-xdist, engine dialect singleton
  bach/Makefile
  bach/requirements-dev.txt
  bach/tests/conftest.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_savepoints.py
  bach/tests/functional/bach/test_savepoints.py
Labels: Type: Story, Type: Under the Hood

#664 Bach BQ UUID series
  bach/bach/series/series_uuid.py
  bach/docs/source/bach_reference_series.rst
  bach/tests/functional/bach/test_df_materialize.py
  bach/tests/functional/bach/test_series_uuid.py
Labels: Area: Bach, Component: BigQuery

#674 `Series.mode` support for BigQuery
  bach/bach/series/series.py
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_describe.py
  bach/tests/functional/bach/test_df_from_pandas.py
Labels: Area: Bach, Component: BigQuery

#676 Bach - BQ query from other project
  bach/bach/dataframe.py
  bach/bach/from_database.py
  bach/bach/series/series_boolean.py
  bach/tests/functional/bach/test_df_from.py
Labels: Area: Bach, Component: BigQuery
