Repository objectiv/objectiv-analytics, pull requests merged in 2022-09, with the labels that each got.

#1188 Make docstring and implementation of get_db_dtype consistent
  bach/bach/series/series.py
  bach/bach/series/series_json.py
Labels: Area: Bach, Type: Under the Hood

#1177 Model hub: Support for SP contexts for global contexts
  bach/bach/series/series_list.py
  modelhub/modelhub/pipelines/extracted_contexts.py
  modelhub/modelhub/pipelines/util.py
  modelhub/tests_modelhub/conftest.py
  modelhub/tests_modelhub/data_and_utils/utils.py
  modelhub/tests_modelhub/functional/modelhub/logistic_regression_test_utils.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_logistic_regression.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_extracted_contexts.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_util.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_extracted_contexts.py
Labels: Area: Modeling

#1166 Model hub: Flatten global contexts: update notebook and docs
  bach/docs/README.md
  bach/docs/source/_ext/sphinx_docusaurus_builder/docusaurus_writer.py
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/feature-engineering.rst
  bach/docs/source/example-notebooks/funnel-discovery.rst
  bach/docs/source/example-notebooks/marketing-analytics.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
  notebooks/basic-product-analytics.ipynb
  notebooks/basic-user-intent.ipynb
  notebooks/explore-your-data.ipynb
  notebooks/feature-engineering.ipynb
  notebooks/funnel-discovery.ipynb
  notebooks/marketing-analytics.ipynb
  notebooks/open-taxonomy-how-to.ipynb
Labels: Area: Modeling, Area: Docs

#1157 Bach: support time for athena
  bach/bach/series/series_datetime.py
  bach/tests/functional/bach/test_series_time.py
  bach/tests/unit/bach/test_series_time.py
Labels: Area: Bach, Component: Athena

#1168 Bach[Athena]: Support Timedelta
  bach/bach/series/series_datetime.py
  bach/tests/functional/bach/test_series_timedelta.py
  bach/tests/unit/bach/test_series_timedelta.py
Labels: Area: Bach, Component: Athena

#1175 Bach[Athena] - Support date arithmetic for Athena
  bach/bach/series/series_datetime.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/functional/bach/test_series_time.py
  bach/tests/functional/bach/test_series_timedelta.py
  bach/tests/functional/bach/test_series_timestamp.py
Labels: Area: Bach, Component: Athena

#1211 Bach[Athena] DataFrame.head()
  bach/bach/dataframe.py
  bach/tests/functional/bach/test_df.py
Labels: Area: Bach, Component: Athena

#1204 Bach athena date formatting
  bach/bach/series/series_datetime.py
  bach/bach/series/utils/datetime_formats.py
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/unit/bach/test_series_utils_datetime_formats.py
Labels: Area: Bach, Component: Athena

#1213 Bach optimize `test_positional_slicing()`, and enable for BigQuery and Athena
  bach/tests/functional/bach/test_df_getitem.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery, Component: Athena

#1205 Bach athena date formatting warnings
  bach/bach/series/series_datetime.py
  bach/bach/series/utils/datetime_formats.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/unit/bach/test_series_utils_datetime_formats.py
Labels: Area: Bach, Component: Athena

#1206 Bach athena date formatting cleanup
  bach/bach/series/series_datetime.py
  bach/tests/functional/bach/test_series_date.py
Labels: Area: Bach, Type: Breaking Change

#1207 Support '%%' in strftime
  bach/bach/series/series_datetime.py
  bach/bach/series/utils/datetime_formats.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/unit/bach/test_series_utils_datetime_formats.py
Labels: Area: Bach

#1222 Bach tests athena 1 - Add marks
  bach/pytest.ini
  bach/tests/conftest.py
Labels: Area: Bach, Type: Under the Hood

#1223 Bach tests athena 2 - Annotate tests with permanent skip marks
  bach/tests/functional/bach/test_df_getitem.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_injection_column_name_escaping.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/functional/bach/test_series_dict.py
  bach/tests/functional/bach/test_series_list.py
  bach/tests/functional/bach/test_series_timedelta.py
  bach/tests/unit/bach/test_series.py
  bach/tests/unit/bach/test_series_json.py
  bach/tests/unit/bach/test_series_list.py
  bach/tests/unit/bach/test_series_time.py
  bach/tests/unit/bach/test_series_timedelta.py
Labels: Area: Bach, Type: Under the Hood

#1224 Bach tests athena 3 - Non-test code changes
  bach/bach/dataframe.py
  bach/bach/partitioning.py
Labels: Area: Bach, Type: Under the Hood

#1225 Bach tests athena 4 - Code changes
  bach/tests/functional/bach/test_df_append.py
  bach/tests/functional/bach/test_df_astype.py
  bach/tests/functional/bach/test_df_drop_duplicates.py
  bach/tests/functional/bach/test_df_groupby.py
  bach/tests/functional/bach/test_df_materialize.py
  bach/tests/functional/bach/test_df_variables.py
  bach/tests/functional/bach/test_injection_column_name_escaping.py
  bach/tests/functional/bach/test_series.py
  bach/tests/functional/bach/test_series_materialize.py
  bach/tests/unit/bach/test_df_groupby.py
  bach/tests/unit/bach/test_df_sort_values.py
  bach/tests/unit/bach/test_merge.py
  bach/tests/unit/sql_models/test_util.py
Labels: Area: Bach, Type: Under the Hood

#1226 Bach tests athena 5 - Run all tests against Athena
  bach/tests/conftest.py
  bach/tests/functional/bach/test_bt_custom_types.py
  bach/tests/functional/bach/test_cut.py
  bach/tests/functional/bach/test_df.py
  bach/tests/functional/bach/test_df_astype.py
  bach/tests/functional/bach/test_df_database_create.py
  bach/tests/functional/bach/test_df_describe.py
  bach/tests/functional/bach/test_df_fillna.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_get_dummies.py
  bach/tests/functional/bach/test_df_groupby.py
  bach/tests/functional/bach/test_df_indexing.py
  bach/tests/functional/bach/test_df_materialize.py
  bach/tests/functional/bach/test_df_merge.py
  bach/tests/functional/bach/test_df_plot.py
  bach/tests/functional/bach/test_df_rename.py
  bach/tests/functional/bach/test_df_sample.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_df_sort_values.py
  bach/tests/functional/bach/test_df_stack.py
  bach/tests/functional/bach/test_df_variables.py
  bach/tests/functional/bach/test_df_window.py
  bach/tests/functional/bach/test_revert_merge.py
  bach/tests/functional/bach/test_series_append.py
  bach/tests/functional/bach/test_series_describe.py
  bach/tests/functional/bach/test_series_materialize.py
  bach/tests/functional/bach/test_series_multi_level.py
  bach/tests/functional/bach/test_series_numeric.py
  bach/tests/functional/bach/test_series_string.py
  bach/tests/functional/bach/test_series_timedelta.py
  bach/tests/functional/bach/test_series_value_counts.py
  bach/tests/unit/bach/test_series_multi_level.py
  bach/tests/unit/sql_models/test_sql_generator_materialization.py
  bach/tests/unit/sql_models/test_util.py
Labels: Area: Bach, Type: Under the Hood

#1227 Bach tests athena 6 - Remove pg_engine
  bach/tests/conftest.py
  bach/tests/functional/bach/test_df_describe.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_groupby.py
  bach/tests/functional/bach/test_df_savepoints.py
  bach/tests/functional/bach/test_df_scale.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_df_sort_values.py
  bach/tests/functional/bach/test_df_unstack.py
  bach/tests/functional/bach/test_pandas_loading.py
  bach/tests/functional/bach/test_savepoints.py
  bach/tests/functional/bach/test_series.py
  bach/tests/functional/bach/test_series_describe.py
  bach/tests/functional/sql_models/test_sql_generator_materialization.py
Labels: Area: Bach, Type: Under the Hood

#1228 Bach tests athena 7 - Remove athena_supported mark
  bach/pytest.ini
  bach/tests/conftest.py
  bach/tests/functional/bach/test_df.py
  bach/tests/functional/bach/test_df_getitem.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_series_boolean.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/functional/bach/test_series_float.py
  bach/tests/functional/bach/test_series_int.py
  bach/tests/functional/bach/test_series_json.py
  bach/tests/functional/bach/test_series_numeric.py
  bach/tests/functional/bach/test_series_string.py
  bach/tests/functional/bach/test_series_time.py
  bach/tests/functional/bach/test_series_timedelta.py
  bach/tests/functional/bach/test_series_timestamp.py
  bach/tests/functional/bach/test_series_uuid.py
  bach/tests/unit/bach/test_df_from_pandas.py
  bach/tests/unit/bach/test_series_date.py
  bach/tests/unit/bach/test_series_time.py
  bach/tests/unit/bach/test_series_timedelta.py
  bach/tests/unit/bach/test_utils.py
Labels: Area: Bach, Type: Under the Hood

#1232 Correct some wrongly classified tests as db_independent and db specific
  bach/bach/from_database.py
  bach/tests/conftest.py
  bach/tests/unit/bach/test_from_database.py
  bach/tests/unit/bach/test_merge.py
  bach/tests/unit/bach/test_series_multi_level.py
  bach/tests/unit/bach/test_types.py
  bach/tests/unit/bach/test_utils.py
  bach/tests/unit/sql_models/test_model.py
  bach/tests/unit/sql_models/test_sql_generator.py
Labels: Area: Bach, Status: Ignore for Changelog, Type: Under the Hood

#1231 Fix release 20220908 docs
  bach/bach/series/series_datetime.py
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  notebooks/open-taxonomy-how-to.ipynb
Labels: Area: Docs

#1234 [DO NOT MERGE YET] Update links to Demo in docs & notebooks (again)
  bach/docs/source/bach/examples.rst
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/feature-engineering.rst
  bach/docs/source/example-notebooks/funnel-discovery.rst
  bach/docs/source/example-notebooks/logistic-regression.rst
  bach/docs/source/example-notebooks/machine-learning.rst
  bach/docs/source/example-notebooks/marketing-analytics.rst
  bach/docs/source/example-notebooks/modelhub-basics.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
  notebooks/basic-product-analytics.ipynb
  notebooks/basic-user-intent.ipynb
  notebooks/explore-your-data.ipynb
  notebooks/feature-engineering.ipynb
  notebooks/funnel-discovery.ipynb
  notebooks/marketing-analytics.ipynb
  notebooks/model-hub-demo-notebook.ipynb
  notebooks/model-hub-logistic-regression.ipynb
  notebooks/open-taxonomy-how-to.ipynb
  notebooks/sklearn-example.ipynb
Labels: Area: Docs

#1243 Fix property types in generated iglu schema
  backend/objectiv_backend/snowplow/generate_iglu_schema.py
  backend/objectiv_backend/snowplow/iglu/io.objectiv.context/SessionContext/jsonschema/1-0-0
Labels: Type: Bug, Area: Taxonomy, Area: Backend

#1189 Bach[Athena]: Support string functions for Athena
  bach/bach/series/series_string.py
  bach/tests/functional/bach/test_series_string.py
Labels: Area: Bach, Component: Athena

#1163 Support anonymous mode in the collector
  backend/objectiv_backend/app.py
  backend/objectiv_backend/common/config.py
  backend/objectiv_backend/common/event_utils.py
  backend/objectiv_backend/common/types.py
  backend/objectiv_backend/end_points/collector.py
  backend/objectiv_backend/end_points/common.py
  backend/objectiv_backend/snowplow/snowplow_helper.py
  backend/requirements-dev.txt
  backend/tests/collector/test_collector.py
  backend/tests/collector/test_snowplow.py
  backend/tests/schema/test_schema.py
Labels: Area: Tracking

#1240 Tracker SDKs anonymous mode
  tracker/core/react/tests/ObjectivProvider.test.tsx
  tracker/core/react/tests/TrackerProvider.test.tsx
  tracker/core/react/tests/TrackingContextProvider.test.tsx
  tracker/core/testing-tools/src/ConfigurableMockTransport.ts
  tracker/core/tracker/src/Tracker.ts
  tracker/core/tracker/src/TrackerPlugins.ts
  tracker/core/tracker/src/TrackerTransportGroup.ts
  tracker/core/tracker/src/TrackerTransportInterface.ts
  tracker/core/tracker/src/TrackerTransportRetry.ts
  tracker/core/tracker/src/TrackerTransportSwitch.ts
  tracker/core/tracker/src/helpers.ts
  tracker/core/tracker/tests/Tracker.test.ts
  tracker/core/tracker/tests/TrackerPlugins.test.ts
  tracker/core/tracker/tests/TrackerRepository.test.ts
  tracker/core/tracker/tests/TrackerTransport.test.ts
  tracker/plugins/application-context/tests/ApplicationContextPlugin.test.ts
  tracker/plugins/http-context/package.json
  tracker/plugins/http-context/src/HttpContextPlugin.ts
  tracker/plugins/http-context/tests/HttpContextPlugin.test.ts
  tracker/trackers/angular/src/AngularTracker.ts
  tracker/trackers/browser/src/BrowserTracker.ts
  tracker/trackers/browser/src/common/factories/makeBrowserTrackerDefaultTransport.ts
  tracker/trackers/browser/src/common/getElementLocationStack.ts
  tracker/trackers/browser/src/definitions/BrowserTrackerConfig.ts
  tracker/trackers/browser/tests/BrowserTracker.test.ts
  tracker/trackers/react-native/src/ReactNativeTracker.ts
  tracker/trackers/react-native/src/common/factories/makeReactNativeTrackerDefaultTransport.ts
  tracker/trackers/react-native/tests/ReactNativeTracker.test.ts
  tracker/trackers/react/src/ReactTracker.ts
  tracker/trackers/react/src/common/factories/makeReactTrackerDefaultTransport.ts
  tracker/trackers/react/tests/ReactTracker.test.ts
  tracker/transports/fetch/src/FetchTransport.ts
  tracker/transports/fetch/tests/FetchTransport.test.ts
  tracker/transports/xhr/src/XHRTransport.ts
  tracker/transports/xhr/tests/XHRTransport.test.ts
  tracker/yarn.lock
Labels: Area: Tracking, Type: Story

#1246 Add `display_sql_as_md` operation to example notebooks
  bach/docs/README.md
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
Labels: Area: Docs, Area: Demo

#1242 Modelhub[Athena]: Preparing ExtractedContextsPipeline for Athena integration
  modelhub/modelhub/pipelines/__init__.py
  modelhub/modelhub/pipelines/extracted_contexts.py
  modelhub/modelhub/pipelines/util.py
  modelhub/tests_modelhub/conftest.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_extracted_contexts.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_extracted_contexts.py
Labels: Area: Modeling, Component: Athena

#1249 [ModelHub] Expose display_sql_as_markdown in module
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/marketing-analytics.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
  modelhub/modelhub/__init__.py
  notebooks/basic-product-analytics.ipynb
  notebooks/basic-user-intent.ipynb
  notebooks/marketing-analytics.ipynb
  notebooks/model-hub-demo-notebook.ipynb
  notebooks/model-hub-logistic-regression.ipynb
Labels: Area: Modeling, Area: Docs

#1247 [ModelHub/BQ] Support anonymous tracker data
  modelhub/modelhub/pipelines/extracted_contexts.py
  modelhub/tests_modelhub/bigquery_snowplow_events_flat_anon.sql
  modelhub/tests_modelhub/conftest.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_extracted_contexts.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_extracted_contexts.py
Labels: Area: Modeling, Component: BigQuery

#1182 Avoid building the cache twice for the Collector
  backend/objectiv_backend/app.py
Labels: Area: Tracking, Area: Backend

#1253 Doctests for LR example notebook
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/logistic-regression.rst
  bach/docs/source/example-notebooks/marketing-analytics.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  notebooks/model-hub-logistic-regression.ipynb
Labels: Area: Demo

#1258 Use drop_off_locations method in the notebooks and docs
  bach/docs/source/example-notebooks/funnel-discovery.rst
  bach/docs/source/example-notebooks/marketing-analytics.rst
  bach/docs/source/open-model-hub/models/aggregation/index.rst
  notebooks/funnel-discovery.ipynb
  notebooks/marketing-analytics.ipynb
Labels: Area: Modeling

#1255 TrackedInputContext component injection tweaks
  tracker/trackers/react/package.json
  tracker/trackers/react/src/trackedContexts/TrackedInputContext.tsx
  tracker/trackers/react/src/trackedContexts/TrackedInputContext/TrackedInputContext.tsx
  tracker/trackers/react/src/trackedContexts/TrackedInputContext/TrackedInputContextCheckbox.tsx
  tracker/trackers/react/src/trackedContexts/TrackedInputContext/TrackedInputContextRadio.tsx
  tracker/trackers/react/src/trackedContexts/TrackedInputContext/TrackedInputContextSelectMultiple.tsx
  tracker/trackers/react/src/trackedContexts/TrackedInputContext/TrackedInputContextSelectSingle.tsx
  tracker/trackers/react/src/trackedContexts/TrackedInputContext/TrackedInputContextShared.ts
  tracker/trackers/react/src/trackedContexts/TrackedInputContext/TrackedValueBasedInputContext.tsx
  tracker/trackers/react/src/trackedContexts/TrackedInputContext/index.ts
  tracker/trackers/react/src/types.ts
  tracker/trackers/react/tests/TrackedInputContext.test.tsx
  tracker/trackers/react/tests/TrackedInputRadio.test.tsx
  tracker/trackers/react/tests/TrackedPressableContext.test.tsx
  tracker/turbo.json
  tracker/yarn.lock
Labels: Type: Enhancement, Area: Tracking, Type: Under the Hood

#1236 Add drop_off_locations method
  bach/docs/source/example-notebooks/funnel-discovery.rst
  bach/docs/source/example-notebooks/marketing-analytics.rst
  bach/docs/source/open-model-hub/models/aggregation/index.rst
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_drop_off_locations.py
  notebooks/funnel-discovery.ipynb
  notebooks/marketing-analytics.ipynb
Labels: Area: Modeling

#1256 Test changes as preparation for supporting mapping series-names
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_fillna.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_get_dummies.py
  bach/tests/functional/bach/test_df_indexing.py
  bach/tests/functional/bach/test_df_merge.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_df_window.py
  bach/tests/functional/bach/test_injection_column_name_escaping.py
  bach/tests/functional/bach/test_series_string.py
Labels: Area: Bach, Type: Under the Hood

#1259 [MH/BQ] Allow secrets to be used directly from environment
  bach/setup.cfg
  modelhub/modelhub/modelhub.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
Labels: Area: Modeling

#1269 Bump Bach and Modelhub version to v0.0.23
  bach/bach/__init__.py
  bach/docs/source/example-notebooks/logistic-regression.rst
  modelhub/modelhub/__init__.py
  modelhub/setup.cfg
  notebooks/model-hub-logistic-regression.ipynb
Labels: Type: Under the Hood

#1260 Bach[Athena]: support from_table for athena
  bach/.secrets/.test_env.sample
  bach/bach/from_database.py
  bach/tests/conftest.py
  bach/tests/functional/bach/test_df_from.py
Labels: Area: Bach, Component: Athena

#1257 Doctests for feature-importance example notebook
  bach/docs/source/example-notebooks/feature-importance.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/img/docs/example-notebooks/feature-importance-plot-histograms-filtered.png
  bach/docs/source/img/docs/example-notebooks/feature-importance-plot-histograms.png
Labels: Area: Modeling, Area: Demo

#1279 Doctests for feature-importance notebook
  bach/docs/source/example-notebooks/feature-importance.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/img/docs/example-notebooks/feature-importance-plot-histograms-filtered.png
  bach/docs/source/img/docs/example-notebooks/feature-importance-plot-histograms.png
Labels: Area: Modeling, Area: Demo

#1251 ModelHub[Athena]: Prepare test suite for Athena testing
  modelhub/.secrets/.gitignore
  modelhub/.secrets/.test_env.sample
  modelhub/Makefile
  modelhub/pytest.ini
  modelhub/setup.cfg
  modelhub/tests_modelhub/conftest.py
  modelhub/tests_modelhub/data_and_utils/utils.py
  modelhub/tests_modelhub/doc_testing_setups/athena_test_setup/athena-setup-test-db.md
  modelhub/tests_modelhub/doc_testing_setups/athena_test_setup/unflattened_events.tsv
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_decorators.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_frequency.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_funnel_discovery.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_logistic_regression.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_retention_matrix.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_session_duration.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_top_product_features.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_top_product_features_before_conversion.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_sessions.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_users.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_extracted_contexts.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_identity_resolution.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_sessionized_data.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_util.py
  modelhub/tests_modelhub/functional/modelhub/test_series_objectiv.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_extracted_contexts.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_identity_resolution.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_sessionized_data.py
Labels: Area: Modeling, Component: Athena

#1273 ModelHub: Refactor of `ObjectivStack.get_contexts_with_type`
  modelhub/modelhub/pipelines/extracted_contexts.py
  modelhub/modelhub/series/operations/__init__.py
  modelhub/modelhub/series/operations/context_flattening.py
  modelhub/modelhub/series/series_objectiv.py
Labels: Area: Modeling

#1250 Bach: Testing API
  bach/bach/testing/__init__.py
  bach/bach/testing/utils.py
  bach/tests/functional/bach/test_data_and_utils.py
  modelhub/tests_modelhub/data_and_utils/utils.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_frequency.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_funnel_discovery.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_retention_matrix.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_session_duration.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_top_product_features.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_top_product_features_before_conversion.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_sessions.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_users.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_extracted_contexts.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_identity_resolution.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_sessionized_data.py
  modelhub/tests_modelhub/functional/modelhub/test_series_objectiv.py
Labels: Area: Bach, Type: Under the Hood

#1274 ModelHub[Athena]: Support SessionizedDataPipeline for Athena
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_sessionized_data.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_util.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_sessionized_data.py
Labels: Area: Modeling, Component: Athena

#1275 ModelHub[Athena]: Support IdentityResolutionPipeline
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_identity_resolution.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_util.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_identity_resolution.py
Labels: Area: Modeling, Component: Athena

#1277 Bach[Athena]: Fix for JSON slicing
  bach/bach/series/series_json.py
  bach/tests/functional/bach/test_series_json.py
Labels: Area: Bach, Component: Athena

#1283 ModelHub[Athena]: Support aggregate model
  bach/bach/series/series_datetime.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_session_duration.py
Labels: Area: Modeling, Component: Athena

#1276 ModelHub[Athena]: Expose Athena Interface for ModelHub
  modelhub/modelhub/modelhub.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
Labels: Area: Modeling, Component: Athena

#1290 ModelHub[BQ/Athena] Fix broken dedup with date filters
  modelhub/modelhub/pipelines/extracted_contexts.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_extracted_contexts.py
Labels: Priority: 1. Critical, Area: Modeling

#1281 Doctests for machine-learning example notebook
  bach/docs/source/example-notebooks/machine-learning.rst
  notebooks/sklearn-example.ipynb
Labels: Area: Modeling, Area: Demo

#1280 Doctests for feature-engineering example notebook
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/feature-engineering.rst
  bach/docs/source/example-notebooks/machine-learning.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
  bach/docs/source/img/docs/example-notebooks/feature-engineering-plot-histograms.png
  notebooks/feature-engineering.ipynb
Labels: Area: Modeling, Area: Demo

#1296 ModelHub[Athena]: Functional and Unit testing for Athena workflow
  .github/workflows/modelhub_tests.yml
Labels: Area: Modeling, Component: Athena

#1288 ModelHub: Removing unused abstractions
  bach/docs/source/open-model-hub/api-reference/SeriesGlobalContext/index.rst
  bach/docs/source/open-model-hub/api-reference/index.rst
  modelhub/modelhub/pipelines/base_pipeline.py
  modelhub/modelhub/pipelines/extracted_contexts.py
  modelhub/modelhub/series/operations/__init__.py
  modelhub/modelhub/series/operations/context_flattening.py
  modelhub/modelhub/series/series_objectiv.py
  modelhub/modelhub/util.py
  modelhub/tests_modelhub/functional/modelhub/test_series_objectiv.py
  modelhub/tests_modelhub/unit/modelhub/test_util.py
Labels: Area: Modeling

#1289 ModelHub[Athena]: Support feature_stack for Athena
  modelhub/modelhub/series/series_objectiv.py
  modelhub/tests_modelhub/functional/modelhub/test_series_objectiv.py
Labels: Area: Modeling, Component: Athena

#1284 ModelHub[Athena]: Feature nicename support for Athena.
  modelhub/modelhub/series/series_objectiv.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_top_product_features.py
  modelhub/tests_modelhub/functional/modelhub/test_series_objectiv.py
Labels: Area: Modeling, Component: Athena

#1293 ModelHub[Athena]: Aggregate model support for athena
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_drop_off_locations.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_frequency.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_retention_matrix.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_top_product_features_before_conversion.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_sessions.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_users.py
Labels: Area: Modeling, Component: Athena

#1307 Set precision for Logistic Regression tests
  modelhub/tests_modelhub/functional/modelhub/logistic_regression_test_utils.py
Labels: Area: Modeling

#1310 ModelHub: Replace empty spaces with None for user_id and event_id
  modelhub/modelhub/pipelines/extracted_contexts.py
Labels: Area: Modeling

#1315 Modify location_stack type in drop_off_locations function
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_drop_off_locations.py
Labels: Area: Modeling
