Repository objectiv/objectiv-analytics, pull requests merged in 2022-10, with the labels that each got.

#1301 Bach map names pre tests
  bach/tests/functional/bach/test_df_append.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_get_dummies.py
  bach/tests/functional/bach/test_df_indexing.py
  bach/tests/functional/bach/test_df_sample.py
  bach/tests/functional/bach/test_injection_column_name_escaping.py
  bach/tests/functional/bach/test_injection_escaping.py
  bach/tests/functional/bach/test_revert_merge.py
  bach/tests/functional/bach/test_series_append.py
  bach/tests/functional/bach/test_series_json.py
  bach/tests/unit/bach/test_series.py
Labels: Area: Bach, Type: Under the Hood

#1306 Bach map names; preparation changes
  bach/bach/dataframe.py
  bach/bach/display_formats/graph_display.py
  bach/bach/from_pandas.py
  bach/bach/merge.py
  bach/bach/operations/concat.py
  bach/bach/series/array_operations/flattening.py
  bach/bach/series/series.py
  bach/docs/source/bach/core-concepts.rst
Labels: Area: Bach, Type: Under the Hood

#1327 Update old Tracking docs core concepts URLs
  bach/docs/source/example-notebooks/funnel-discovery.rst
  notebooks/funnel-discovery.ipynb
Labels: Area: Docs

#1330 Update README.md
  README.md
Labels: Type: Under the Hood

#1320 Bach: support arbitrary Series names on BQ and Athena
  bach/bach/dataframe.py
  bach/bach/display_formats/graph_display.py
  bach/bach/expression.py
  bach/bach/from_database.py
  bach/bach/from_pandas.py
  bach/bach/merge.py
  bach/bach/operations/concat.py
  bach/bach/series/array_operations/flattening.py
  bach/bach/series/series.py
  bach/bach/series/series_multi_level.py
  bach/bach/sql_model.py
  bach/bach/utils.py
  bach/docs/source/bach/data-stores.rst
  bach/tests/functional/bach/test_df_append.py
  bach/tests/functional/bach/test_df_database_create.py
  bach/tests/functional/bach/test_df_fillna.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_get_dummies.py
  bach/tests/functional/bach/test_df_indexing.py
  bach/tests/functional/bach/test_df_merge.py
  bach/tests/functional/bach/test_df_sample.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_df_sort_values.py
  bach/tests/functional/bach/test_df_stack.py
  bach/tests/functional/bach/test_df_unstack.py
  bach/tests/functional/bach/test_df_window.py
  bach/tests/functional/bach/test_injection_column_name_escaping.py
  bach/tests/functional/bach/test_revert_merge.py
  bach/tests/functional/bach/test_series.py
  bach/tests/functional/bach/test_series_append.py
  bach/tests/functional/bach/test_series_json.py
  bach/tests/functional/bach/test_series_numeric.py
  bach/tests/functional/bach/test_series_string.py
  bach/tests/functional/bach/test_series_timedelta.py
  bach/tests/unit/bach/test_df_from_pandas.py
  bach/tests/unit/bach/test_expression.py
  bach/tests/unit/bach/test_series.py
  bach/tests/unit/bach/test_utils.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_funnel_discovery.py
Labels: Area: Bach, Component: BigQuery, Component: Athena

#1331 Bach - add tests for from_table()
  bach/tests/functional/bach/test_df_from.py
Labels: Area: Bach, Type: Under the Hood

#1326 Rename column name in drop_off_locations method
  bach/docs/source/example-notebooks/funnel-discovery.rst
  bach/docs/source/example-notebooks/marketing-analytics.rst
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_drop_off_locations.py
Labels: Area: Modeling

#1332 Rename `basic-product-analytics` notebook to `product-analytics`
  bach/docs/source/example-notebooks/product-analytics.rst
  modelhub/modelhub/models/funnel_discovery.py
  modelhub/tests_modelhub/checklock_holmes/README.md
  notebooks/basic-product-analytics.ipynb
  notebooks/docker/Dockerfile
  notebooks/product-analytics.ipynb
Labels: Area: Up

#1340 Bach: Remove pandas and date warnings when running tests
  bach/bach/testing/utils.py
  bach/tests/functional/bach/test_df_append.py
Labels: Type: Enhancement, Area: Bach

#1294 ModelHub[Athena]: Support FunnelDiscovery Model
  bach/bach/dataframe.py
  bach/bach/series/series.py
  bach/bach/series/series_numeric.py
  bach/tests/functional/bach/test_df_dropna.py
  bach/tests/functional/bach/test_series_float.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_funnel_discovery.py
Labels: Area: Modeling, Component: Athena

#1322 ModelHub: Location stack visualization
  modelhub/modelhub/modelhub.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_visualize_location_stack.py
Labels: Area: Modeling

#1297 ModelHub[Athena]: Remove `skip_athena_todo` marker
  modelhub/pytest.ini
  modelhub/tests_modelhub/conftest.py
Labels: Area: Modeling, Component: Athena

#1328 Remove async mode of the Collector
  backend/CONTRIBUTING.md
  backend/docker/entry_point.sh
  backend/objectiv_backend/common/config.py
  backend/objectiv_backend/create_tables.sql
  backend/objectiv_backend/end_points/collector.py
  backend/objectiv_backend/workers/pg_queues.py
  backend/objectiv_backend/workers/worker_entry.py
  backend/objectiv_backend/workers/worker_finalize.py
  backend/objectiv_backend/workers/workers.py
Labels: Area: Tracking

#1347 base_Schema > base_schema
  schema/generators/templates/validator-common.template.ts
  schema/validator/common.js
Labels: Type: Bug, Area: Taxonomy

#1334 Bach enable some more tests
  bach/tests/functional/bach/test_bt_custom_types.py
  bach/tests/functional/bach/test_df_astype.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/unit/sql_models/test_util.py
Labels: Area: Bach, Type: Under the Hood

#1345 Improve/enabled tests in test_pandas_loading
  bach/tests/functional/bach/test_pandas_loading.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery, Component: Athena

#1346 Bach test pandas loading improvement 2
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_pandas_loading.py
  bach/tests/unit/bach/test_df_from_pandas.py
Labels: Area: Bach, Type: Under the Hood

#1341 Update example notebooks landing page
  bach/docs/source/example-notebooks/index.rst
  bach/docs/source/img/docs/example-notebooks/open-model-hub.png
Labels: Area: Docs

#1338 Bach[Athena]: Quantile Support
  bach/bach/dataframe.py
  bach/bach/quantile.py
  bach/bach/series/series_datetime.py
  bach/bach/series/series_numeric.py
  bach/tests/functional/bach/test_cut.py
  bach/tests/functional/bach/test_df.py
  bach/tests/functional/bach/test_series_numeric.py
  bach/tests/functional/bach/test_series_timedelta.py
Labels: Area: Bach, Component: Athena

#1343 Bach athena create table simplified
  bach/bach/dataframe.py
  bach/bach/utils.py
  bach/sql_models/util.py
  bach/tests/functional/bach/test_df_database_create.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_sample.py
  bach/tests/unit/bach/test_utils.py
  bach/tests/unit/sql_models/test_util.py
Labels: Area: Bach, Component: Athena

#1355 Bach: Using column reference instead of expression in ORDER BY (BQ and Athena)
  bach/bach/dataframe.py
  bach/tests/functional/bach/test_df_sort_values.py
Labels: Area: Bach, Component: BigQuery, Component: Athena

#1358 Bach[Athena]: fix dtype_to_expression str -> json
  bach/bach/series/series_string.py
Labels: Area: Bach, Component: Athena

#1314 Checklock: Enable checks for Athena
  modelhub/tests_modelhub/checklock_holmes/.env_sample
  modelhub/tests_modelhub/checklock_holmes/Makefile
  modelhub/tests_modelhub/checklock_holmes/checklock-holmes.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/settings.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/utils/cell_tags.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/utils/supported_engines.py
Labels: Type: Under the Hood, Component: Athena

#1364 Fix doctests for quantile variable name change
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
Labels: Area: Bach, Area: Docs

#1359 Bach[Athena]: use ordinal position for athena grouby clause
  bach/bach/partitioning.py
  bach/tests/functional/bach/test_df_groupby.py
Labels: Area: Bach, Component: Athena

#1352 Bach tests assert db type
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_astype.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/functional/bach/test_series_int.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery, Component: Athena

#1368 Bach flattening offset fix
  bach/bach/series/array_operations/flattening.py
  bach/bach/series/series_json.py
  bach/tests/functional/bach/test_series_json.py
Labels: Area: Bach, Component: Athena

#1361 Change index name in `drop_off_locations` method
  bach/docs/source/example-notebooks/funnel-discovery.rst
  bach/docs/source/example-notebooks/marketing-analytics.rst
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_drop_off_locations.py
Labels: Area: Modeling

#1378 Bach test athena bq improvements
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_variables.py
  bach/tests/functional/bach/test_series.py
  bach/tests/functional/bach/test_series_append.py
  bach/tests/unit/sql_models/test_sql_generator.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery, Component: Athena

#1366 Funnel conversion
  bach/docs/source/open-model-hub/models/aggregation/index.rst
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_funnel_conversion.py
Labels: Area: Modeling

#1367 Improve performance of doctests for marketing analytics notebook
  bach/docs/source/example-notebooks/marketing-analytics.rst
  bach/docs/source/img/docs/example-notebooks/marketing-analytics-conversion-rate-from-marketing.png
  bach/docs/source/img/docs/example-notebooks/marketing-analytics-conversion-rate-overall.png
  bach/docs/source/img/docs/example-notebooks/marketing-analytics-conversions-overall.png
  bach/docs/source/img/docs/example-notebooks/marketing-analytics-funnel-all.png
  bach/docs/source/img/docs/example-notebooks/marketing-analytics-number-conversions-from-marketing.png
  bach/docs/source/img/docs/example-notebooks/marketing-analytics-users-from-marketing-source.png
  bach/docs/source/img/docs/example-notebooks/marketing-analytics-users-from-marketing.png
  bach/docs/source/img/docs/example-notebooks/marketing-analytics-users-per-source-campaign.png
  notebooks/marketing-analytics.ipynb
Labels: Area: Docs, Area: Up

#1370 Improve performance of doctests for product analytics notebook
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/img/docs/example-notebooks/product-analytics-retention-matrix.png
  notebooks/product-analytics.ipynb
Labels: Area: Docs, Area: Up

#1383 Migrate all imports of assert_equals_data to use the new location
  bach/tests/functional/bach/test_bt_custom_types.py
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df.py
  bach/tests/functional/bach/test_df_append.py
  bach/tests/functional/bach/test_df_astype.py
  bach/tests/functional/bach/test_df_database_create.py
  bach/tests/functional/bach/test_df_drop_duplicates.py
  bach/tests/functional/bach/test_df_fillna.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_get_dummies.py
  bach/tests/functional/bach/test_df_getitem.py
  bach/tests/functional/bach/test_df_indexing.py
  bach/tests/functional/bach/test_df_materialize.py
  bach/tests/functional/bach/test_df_merge.py
  bach/tests/functional/bach/test_df_rename.py
  bach/tests/functional/bach/test_df_reset_index.py
  bach/tests/functional/bach/test_df_sample.py
  bach/tests/functional/bach/test_df_savepoints.py
  bach/tests/functional/bach/test_df_scale.py
  bach/tests/functional/bach/test_df_setitem.py
  bach/tests/functional/bach/test_df_sort_index.py
  bach/tests/functional/bach/test_df_sort_values.py
  bach/tests/functional/bach/test_df_stack.py
  bach/tests/functional/bach/test_df_unstack.py
  bach/tests/functional/bach/test_df_value_counts.py
  bach/tests/functional/bach/test_df_variables.py
  bach/tests/functional/bach/test_df_window.py
  bach/tests/functional/bach/test_injection_column_name_escaping.py
  bach/tests/functional/bach/test_injection_escaping.py
  bach/tests/functional/bach/test_savepoints.py
  bach/tests/functional/bach/test_series.py
  bach/tests/functional/bach/test_series_append.py
  bach/tests/functional/bach/test_series_boolean.py
  bach/tests/functional/bach/test_series_date.py
  bach/tests/functional/bach/test_series_dict.py
  bach/tests/functional/bach/test_series_int.py
  bach/tests/functional/bach/test_series_list.py
  bach/tests/functional/bach/test_series_materialize.py
  bach/tests/functional/bach/test_series_string.py
  bach/tests/functional/bach/test_series_timestamp.py
  bach/tests/functional/bach/test_series_uuid.py
  modelhub/Makefile
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_drop_off_locations.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_extracted_contexts.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_util.py
Labels: Area: Modeling, Area: Bach, Status: Ignore for Changelog, Type: Under the Hood

#1371 Improve performance of doctests for funnel discovery notebook
  bach/docs/source/example-notebooks/funnel-discovery.rst
  bach/docs/source/img/docs/example-notebooks/funnel-discovery-plot-sankey-4th-step.png
  bach/docs/source/img/docs/example-notebooks/funnel-discovery-plot-sankey-marketing-4th-step.png
  notebooks/funnel-discovery.ipynb
Labels: Area: Docs, Area: Up

#1386 fix import
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_funnel_conversion.py
Labels: Status: Ignore for Changelog

#1380 Bach get dtypes from model
  bach/bach/dataframe.py
  bach/bach/from_database.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_variables.py
Labels: Type: Enhancement, Area: Bach, Component: BigQuery, Component: Athena

#1362 Use `sphinx-exec-code` for SQL output generation in example notebooks
  bach/docs/README.md
  bach/docs/requirements.txt
  bach/docs/source/_ext/sphinx_docusaurus_builder/docusaurus_writer.py
  bach/docs/source/conf.py
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/feature-engineering.rst
  bach/docs/source/example-notebooks/funnel-discovery.rst
  bach/docs/source/example-notebooks/logistic-regression.rst
  bach/docs/source/example-notebooks/machine-learning.rst
  bach/docs/source/example-notebooks/marketing-analytics.rst
  bach/docs/source/example-notebooks/modelhub-basics.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
  notebooks/model-hub-demo-notebook.ipynb
Labels: Area: Docs, Area: Up

#1390 Fix doctest code-blocks
  bach/docs/source/_ext/sphinx_docusaurus_builder/docusaurus_writer.py
Labels: Type: Bug, Area: Docs

#1384 Bach[Athena]: Trim trailing zeros after decimal point (Float64 -> String)
  bach/bach/series/series_string.py
  bach/tests/functional/bach/test_series_append.py
  bach/tests/functional/bach/test_series_numeric.py
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/data_and_utils/utils.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_retention_matrix.py
  modelhub/tests_modelhub/unit/modelhub/test_model_hub_retention_matrix.py
Labels: Area: Bach, Component: Athena

#1393 Reset product analytics notebook end date
  notebooks/product-analytics.ipynb
Labels: Area: Up

#1395 [Bach/MH] Increase functional test parallelization
  .github/workflows/bach-tests.yml
  .github/workflows/modelhub_tests.yml
Labels: Type: Under the Hood

#1397 ModelHub: Speed up functional tests
  modelhub/modelhub/modelhub.py
  modelhub/tests_modelhub/data_and_utils/data_objectiv.py
  modelhub/tests_modelhub/data_and_utils/utils.py
  modelhub/tests_modelhub/functional/conftest.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_decorators.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_drop_off_locations.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_frequency.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_funnel_conversion.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_funnel_discovery.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_logistic_regression.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_retention_matrix.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_session_duration.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_top_product_features.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_top_product_features_before_conversion.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_sessions.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_unique_users.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_visualize_location_stack.py
Labels: Area: Modeling, Status: Ignore for Changelog, Type: Under the Hood

#1399 Remove debug print for /schema endpoint
  backend/objectiv_backend/end_points/schema.py
Labels: Area: Tracking

#1400 Fix bach functional tests on BQ after fix on BigQueries side
  bach/tests/functional/bach/test_df_astype.py
  bach/tests/functional/bach/test_df_setitem.py
Labels: Area: Bach, Type: Under the Hood, Component: BigQuery

#1398 Bq from pandas tests
  bach/tests/functional/bach/test_df_from_pandas.py
Labels: Area: Bach, Component: BigQuery

#1404 Checklock: create reporting module and errors module
  modelhub/tests_modelhub/checklock_holmes/checklock-holmes.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/errors/__init__.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/errors/exceptions.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/nb_checker.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/reporting/__init__.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/reporting/utils.py
Labels: Area: Modeling, Type: Under the Hood

#1403 Checklock: Read AWS env variables
  modelhub/tests_modelhub/checklock_holmes/.env_sample
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/models/env_models.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/settings.py
  modelhub/tests_modelhub/checklock_holmes/requirements.txt
Labels: Area: Modeling, Type: Under the Hood

#1407 Update readmes and contribs
  bach/CONTRIBUTING.md
  bach/README.md
  modelhub/CONTRIBUTING.md
  modelhub/README.md
  tracker/CONTRIBUTING.md
  tracker/README.md
  tracker/core/tracker/README.md
  tracker/trackers/angular/README.md
  tracker/trackers/browser/README.md
  tracker/trackers/react-native/README.md
  tracker/trackers/react/README.md
Labels: Area: Docs

#1406 Checklock: Customized Kernel, KernelApp, KernelSpecManager
  modelhub/tests_modelhub/checklock_holmes/checklock-holmes.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/checklock_kernel/__init__.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/checklock_kernel/kernel.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/checklock_kernel/manager.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/checklock_nb_client/__init__.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/checklock_nb_client/execution_manager.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/checklock_nb_client/notebook_client.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/checklock_nb_client/notebook_engine.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/models/nb_checker_models.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/nb_checker.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/settings.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/utils/supported_db_engines.py
Labels: Area: Modeling

#1401 Restructure documentation on core concepts; add section on Athena
  bach/docs/Makefile
  bach/docs/README.md
  bach/docs/source/bach/core-concepts.rst
  bach/docs/source/bach/data-stores.rst
  bach/docs/source/bach/examples.rst
  bach/docs/source/bach/index.rst
  bach/docs/source/bach/usage.rst
Labels: Area: Bach, Component: Athena

#1420 Base schema generator bug-fixes and improvements
  schema/base_schema.json
  schema/generators/generated/docs/abstracts/AbstractContext.md
  schema/generators/generated/docs/abstracts/AbstractEvent.md
  schema/generators/generated/docs/abstracts/AbstractGlobalContext.md
  schema/generators/generated/docs/abstracts/AbstractLocationContext.md
  schema/generators/generated/docs/events/ApplicationLoadedEvent.md
  schema/generators/generated/docs/events/FailureEvent.md
  schema/generators/generated/docs/events/HiddenEvent.md
  schema/generators/generated/docs/events/InputChangeEvent.md
  schema/generators/generated/docs/events/InteractiveEvent.md
  schema/generators/generated/docs/events/MediaEvent.md
  schema/generators/generated/docs/events/MediaLoadEvent.md
  schema/generators/generated/docs/events/MediaPauseEvent.md
  schema/generators/generated/docs/events/MediaStartEvent.md
  schema/generators/generated/docs/events/MediaStopEvent.md
  schema/generators/generated/docs/events/NonInteractiveEvent.md
  schema/generators/generated/docs/events/PressEvent.md
  schema/generators/generated/docs/events/SuccessEvent.md
  schema/generators/generated/docs/events/VisibleEvent.md
  schema/generators/generated/docs/global_contexts/ApplicationContext.md
  schema/generators/generated/docs/global_contexts/CookieIdContext.md
  schema/generators/generated/docs/global_contexts/HttpContext.md
  schema/generators/generated/docs/global_contexts/IdentityContext.md
  schema/generators/generated/docs/global_contexts/InputValueContext.md
  schema/generators/generated/docs/global_contexts/LocaleContext.md
  schema/generators/generated/docs/global_contexts/MarketingContext.md
  schema/generators/generated/docs/global_contexts/PathContext.md
  schema/generators/generated/docs/global_contexts/SessionContext.md
  schema/generators/generated/docs/location_contexts/ContentContext.md
  schema/generators/generated/docs/location_contexts/ExpandableContext.md
  schema/generators/generated/docs/location_contexts/InputContext.md
  schema/generators/generated/docs/location_contexts/LinkContext.md
  schema/generators/generated/docs/location_contexts/MediaPlayerContext.md
  schema/generators/generated/docs/location_contexts/NavigationContext.md
  schema/generators/generated/docs/location_contexts/OverlayContext.md
  schema/generators/generated/docs/location_contexts/PressableContext.md
  schema/generators/generated/docs/location_contexts/RootLocationContext.md
  schema/generators/generated/schema/contexts.ts
  schema/generators/generated/schema/events.ts
  schema/generators/generated/snowplow/io.objectiv.context/MarketingContext/jsonschema/1-0-0
  schema/generators/generated/snowplow/io.objectiv/location_stack/jsonschema/1-0-0
  schema/generators/templates/docs.template.js
  schema/generators/templates/docs.template.ts
  schema/generators/templates/iglu.template.js
  schema/generators/templates/iglu.template.ts
  schema/generators/templates/parser.js
  schema/generators/templates/parser.ts
  schema/generators/writers/IgluWriter.js
  schema/generators/writers/IgluWriter.ts
  schema/validator/1.0.0/base_schema.json
  schema/validator/1.0.0/validator.js
Labels: Type: Bug, Type: Enhancement, Area: Taxonomy

#1422 Docusaurus parsing improvements
  bach/docs/source/_ext/sphinx_docusaurus_builder/docusaurus_writer.py
Labels: Area: Docs

#1419 Modelhub tweaks
  modelhub/modelhub/modelhub.py
  modelhub/modelhub/pipelines/extracted_contexts.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_extracted_contexts.py
Labels: Type: Enhancement, Area: Modeling

#1416 Move the logic for create Athena urls to a function
  bach/bach/utils.py
  bach/tests/conftest.py
  bach/tests/unit/bach/test_utils.py
  modelhub/modelhub/__init__.py
  modelhub/tests_modelhub/conftest.py
Labels: Area: Modeling, Area: Bach, Component: Athena

#1402 groupby funnel conversion
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_funnel_conversion.py
Labels: Area: Modeling
