Repository objectiv/objectiv-analytics, pull requests merged in 2022-03, with the labels that each got.

#512 Core Tracker: validation
  tracker/core/tracker/package.json
  tracker/core/tracker/src/ApplicationContextPlugin.ts
  tracker/core/tracker/src/Tracker.ts
  tracker/core/tracker/src/TrackerPluginInterface.ts
  tracker/core/tracker/src/TrackerPluginLifecycleInterface.ts
  tracker/core/tracker/src/TrackerPlugins.ts
  tracker/core/tracker/src/TrackerValidationLifecycleInterface.ts
  tracker/core/tracker/src/TrackerValidationRuleInterface.ts
  tracker/core/tracker/src/helpers.ts
  tracker/core/tracker/src/index.ts
  tracker/core/tracker/src/plugins/ApplicationContextPlugin.ts
  tracker/core/tracker/src/plugins/OpenTaxonomyValidationPlugin.ts
  tracker/core/tracker/src/validationRules/ContextValidationRuleConfig.ts
  tracker/core/tracker/src/validationRules/GlobalContextValidationRule.ts
  tracker/core/tracker/src/validationRules/LocationContextValidationRule.ts
  tracker/core/tracker/src/validationRules/logEventValidationRuleError.ts
  tracker/core/tracker/tests/ApplicationContextPlugin.test.ts
  tracker/core/tracker/tests/Tracker.test.ts
  tracker/core/tracker/tests/TrackerPlugins.test.ts
  tracker/core/tracker/tests/helpers.test.ts
  tracker/plugins/http-context/src/HttpContextPlugin.ts
  tracker/plugins/http-context/tests/HttpContextPlugin.test.ts
  tracker/plugins/path-context-from-url/src/PathContextFromURLPlugin.ts
  tracker/plugins/path-context-from-url/tests/PathContextFromURLPlugin.node.test.ts
  tracker/plugins/path-context-from-url/tests/PathContextFromURLPlugin.test.ts
  tracker/plugins/root-location-context-from-url/src/RootLocationContextFromURL.ts
  tracker/plugins/root-location-context-from-url/tests/RootLocationContextFromURLPlugin.test.ts
  tracker/trackers/browser/src/BrowserTracker.ts
  tracker/trackers/browser/src/common/compareTrackerConfigs.ts
  tracker/trackers/browser/src/common/getElementLocationStack.ts
  tracker/trackers/browser/tests/BrowserTracker.test.ts
  tracker/trackers/react/src/ReactTracker.ts
  tracker/trackers/react/src/common/LocationTree.ts
  tracker/trackers/react/src/common/isDevMode.ts
  tracker/trackers/react/src/common/providers/TrackerProvider.tsx
  tracker/trackers/react/src/index.ts
  tracker/trackers/react/src/locationWrappers/LocationContextWrapper.tsx
  tracker/trackers/react/tests/ObjectivProvider.test.tsx
  tracker/trackers/react/tests/ReactTracker.test.ts
  tracker/trackers/react/tests/SSR.test.tsx
  tracker/trackers/react/tests/TrackerProvider.test.tsx
  tracker/trackers/react/tests/TrackingContextProvider.test.tsx
  tracker/yarn.lock
Labels: Area: Tracking, Type: Story, Type: Breaking Change

#543 BACH: Clean up some small docs thingies.
  analysis/README.md
  bach/bach/dataframe.py
  bach/bach/series/series.py
  bach/bach/series/series_boolean.py
  bach/bach/series/series_json.py
  bach/bach/series/series_numeric.py
  bach/bach/series/series_uuid.py
  bach/docs/Makefile
  bach/docs/source/examples.rst
  bach/tests/functional/bach/test_series_numeric.py
Labels: Type: Enhancement, Area: Docs

#540 WIP: Fix metabase startup order
  analysis/docker/entrypoint.sh
  docker-compose.yaml
Labels: Type: Bug, Area: Visualization

#528 Ensure health check uses the right port
  docker-compose-dev.yaml
  docker-compose.yaml
Labels: Area: Backend, Type: Under the Hood

#538 Move README images out of the repo
  README.md
  assets/img/logo-objectiv-large-dark.svg
  assets/img/logo-objectiv-large.svg
  assets/img/objectiv-bach-2min.jpg
  assets/img/objectiv-stack-dark.svg
  assets/img/objectiv-stack.svg
Labels: Status: Ignore for Changelog

#544 Update Bach docs generation README to run make clean first
  bach/docs/README.md
Labels: Status: Ignore for Changelog

#552 Overload typing of `DataFrame.__get_item__`
  bach/bach/dataframe.py
  bach/bach/operations/cut.py
  bach/bach/operations/describe.py
Labels: Type: Enhancement, Type: Under the Hood

#496 Preliminary Snowplow sink support
  backend/mypy.ini
  backend/objectiv_backend/common/config.py
  backend/objectiv_backend/end_points/collector.py
  backend/objectiv_backend/end_points/extra_output.py
  backend/objectiv_backend/snowplow/__init__.py
  backend/objectiv_backend/snowplow/docs/1-0-0
  backend/objectiv_backend/snowplow/docs/README.MD
  backend/objectiv_backend/snowplow/schema/__init__.py
  backend/objectiv_backend/snowplow/schema/constants.py
  backend/objectiv_backend/snowplow/schema/ttypes.py
  backend/objectiv_backend/snowplow/snowplow_helper.py
  backend/requirements.in
  backend/requirements.txt
  backend/tests/collector/__init__.py
  backend/tests/collector/schema_violations.json
  backend/tests/collector/test_collector.py
  backend/tests/collector/test_snowplow.py
Labels: Area: Backend, Type: Story

#533 Save mapping between columns and expressions in `BachSqlModel`
  analysis/bach_open_taxonomy/bach_open_taxonomy/objectivframe.py
  bach/bach/dataframe.py
  bach/bach/merge.py
  bach/bach/operations/concat.py
  bach/bach/sample.py
  bach/bach/sql_model.py
  bach/tests/unit/bach/test_df.py
  bach/tests/unit/bach/test_sql_model.py
  bach/tests/unit/bach/util.py
Labels: Type: Enhancement, Area: Bach

#556 `DataFrame.loc.__setitem__` support
  bach/bach/dataframe.py
  bach/bach/indexing.py
  bach/bach/operations/concat.py
  bach/bach/series/series.py
  bach/bach/utils.py
  bach/docs/source/DataFrame.rst
  bach/docs/source/conf.py
  bach/docs/source/examples.rst
  bach/tests/functional/bach/test_df_indexing.py
  bach/tests/unit/bach/test_utils.py
Labels: Type: Story, Area: Bach

#534 Add `TableColumnReferenceToken` to know when a table is referenced by a column
  bach/bach/expression.py
  bach/tests/unit/bach/test_expression.py
  bach/tests/unit/bach/test_merge.py
Labels: Type: Enhancement, Area: Bach

#549 Binary Operations - Base Node Optimization
  bach/bach/dataframe.py
  bach/bach/expression.py
  bach/bach/series/series.py
  bach/tests/functional/bach/test_series.py
Labels: Type: Story, Area: Bach

#550 Merge based on conditionals
  bach/bach/dataframe.py
  bach/bach/from_pandas.py
  bach/bach/merge.py
  bach/bach/series/series.py
  bach/tests/functional/bach/test_df_merge.py
  bach/tests/unit/bach/test_df.py
  bach/tests/unit/bach/test_merge.py
  bach/tests/unit/bach/util.py
Labels: Type: Enhancement, Area: Bach

#568 Trackers v0.0.17
  tracker/core/react/package.json
  tracker/core/schema/package.json
  tracker/core/testing-tools/package.json
  tracker/core/tracker/package.json
  tracker/core/utilities/package.json
  tracker/plugins/http-context/package.json
  tracker/plugins/path-context-from-url/package.json
  tracker/plugins/react-navigation/package.json
  tracker/plugins/react-router-tracked-components/package.json
  tracker/plugins/root-location-context-from-url/package.json
  tracker/queues/local-storage/package.json
  tracker/trackers/angular/package.json
  tracker/trackers/browser/package.json
  tracker/trackers/react-native/package.json
  tracker/trackers/react/package.json
  tracker/transports/debug/package.json
  tracker/transports/fetch/package.json
  tracker/transports/xhr/package.json
  tracker/yarn.lock
Labels: Status: Ignore for Changelog

#569 Update Slack links in READMEs
  analysis/bach_open_taxonomy/README.md
  bach/README.md
  backend/README.md
  schema/README.md
  tracker/README.md
Labels: Status: Ignore for Changelog

#529 Convert some simple tests to multi-database tests
  bach/tests/functional/bach/test_df_astype.py
  bach/tests/functional/bach/test_df_dropna.py
  bach/tests/functional/bach/test_df_getitem.py
  bach/tests/functional/bach/test_df_materialize.py
  bach/tests/functional/bach/test_df_reset_index.py
  bach/tests/functional/bach/test_df_sort_index.py
  bach/tests/functional/bach/test_df_sort_values.py
  bach/tests/unit/bach/test_df_astype.py
  bach/tests/unit/bach/test_df_rename.py
  bach/tests/unit/bach/test_df_setitem.py
  bach/tests/unit/bach/test_merge.py
  bach/tests/unit/bach/util.py
Labels: Area: Bach, Type: Under the Hood

#579 Move unittest
  bach/tests/functional/bach/test_df_sort_values.py
  bach/tests/unit/bach/test_df_sort_values.py
Labels: Area: Bach, Type: Under the Hood

#554 ModelHub restructure: README updates
  bach/README.md
  bach/sql_models/README.md
  modelhub/README.md
  modelhub/requirements.txt
  modelhub/setup.cfg
  notebooks/README.md
  notebooks/requirements.txt
Labels: Area: Modeling, Type: Story
