Repository objectiv/objectiv-analytics, pull requests merged in 2022-07, with the labels that each got.

#955 [Modeling: feature-engineering] Replace dashes with underscores for series to unstack
  bach/docs/source/example-notebooks/feature-engineering.rst
  notebooks/feature-engineering.ipynb
Labels: Area: Modeling

#987 Checklock: Move checklock_holmes package to tests_modelhub
  modelhub/tests_modelhub/checklock_holmes/.env_sample
  modelhub/tests_modelhub/checklock_holmes/.gitignore
  modelhub/tests_modelhub/checklock_holmes/Makefile
  modelhub/tests_modelhub/checklock_holmes/README.md
  modelhub/tests_modelhub/checklock_holmes/checklock-holmes.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/__init__.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/models/__init__.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/models/env_models.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/models/nb_checker_models.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/nb_checker.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/settings.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/utils/__init__.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/utils/constants.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/utils/helpers.py
  modelhub/tests_modelhub/checklock_holmes/checklock_holmes/utils/supported_engines.py
  modelhub/tests_modelhub/checklock_holmes/mypy.ini
  modelhub/tests_modelhub/checklock_holmes/requirements.txt
  modelhub/tests_modelhub/checklock_holmes/setup.cfg
Labels: Area: Project

#972 Bach bq sample improvements
  bach/bach/dataframe.py
  bach/bach/sample.py
  bach/sql_models/model.py
  bach/sql_models/sql_generator.py
  bach/tests/functional/bach/test_df_sample.py
  bach/tests/unit/sql_models/test_sql_generator.py
Labels: Area: Bach, Component: BigQuery

#993 IdentityContext tweaks
  backend/objectiv_backend/schema/schema.py
  schema/base_schema.json5
  tracker/core/schema/src/abstracts.d.ts
  tracker/core/schema/src/global_contexts.d.ts
  tracker/core/schema/src/location_contexts.d.ts
  tracker/core/tracker/src/ContextFactories.ts
  tracker/core/tracker/tests/ContextFactories.test.ts
  tracker/plugins/identity-context/src/IdentityContextPlugin.ts
  tracker/plugins/identity-context/tests/IdentityContextPlugin.test.ts
  tracker/trackers/react/tests/ReactTracker.test.ts
Labels: Type: Enhancement, Area: Tracking, Area: Taxonomy

#989 Fix features and target values order for Logistic Regression in BQ
  modelhub/modelhub/models/logistic_regression.py
  modelhub/tests_modelhub/functional/modelhub/logistic_regression_test_utils.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_logistic_regression.py
Labels: Type: Bug, Area: Modeling

#962 Also support temp_table in Series.materialize() for consistency
  bach/bach/series/series.py
  bach/bach/series/series_dict.py
  bach/bach/series/series_json.py
  bach/tests/functional/bach/test_series_materialize.py
Labels: Area: Bach, Component: BigQuery

#1000 Bach BigQuery: Setting a Pandas UUID Series to a Bach DataFrame
  bach/bach/series/series_uuid.py
  bach/tests/functional/bach/test_df_setitem.py
Labels: Area: Bach

#994 Bach: Reference correct columns in `ConcatSqlModel`
  bach/bach/operations/concat.py
Labels: Area: Bach, Type: Under the Hood

#984 Fix references in get-started-in-your-notebook docs
  bach/docs/source/get-started-in-your-notebook.rst
  bach/docs/source/index.rst
Labels: Area: Docs

#1008 ModelHub: IdentityContexts in TEST_DATA_OBJECTIV
  modelhub/tests_modelhub/data_and_utils/data_objectiv.py
Labels: Priority: 2. High, Area: Modeling, Type: Under the Hood

#983 Sqlmodel `to_sql()` performance improvement
  bach/requirements-dev.txt
  bach/sql_models/graph_operations.py
  bach/tests/conftest.py
  bach/tests/unit/sql_models/test_graph_operations.py
  bach/tests/unit/sql_models/test_sql_generator.py
Labels: Area: Bach, Type: Under the Hood

#1001 Deterministic sorting for example notebooks
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/modelhub-basics.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
  notebooks/basic-product-analytics.ipynb
  notebooks/basic-user-intent.ipynb
  notebooks/explore-your-data.ipynb
  notebooks/model-hub-demo-notebook.ipynb
Labels: Area: Docs, Area: Demo

#998 Bach BQ: support full table names in `from_table()`
  bach/bach/dataframe.py
  bach/bach/from_database.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/unit/bach/test_from_database.py
Labels: Area: Bach, Component: BigQuery

#1011 Support input tracking for HTMLSelectElements in Browser/Angular SDKs
  tracker/core/developer-tools/package.json
  tracker/core/react/package.json
  tracker/core/schema/package.json
  tracker/core/testing-tools/package.json
  tracker/core/tracker/package.json
  tracker/core/utilities/package.json
  tracker/plugins/application-context/package.json
  tracker/plugins/http-context/package.json
  tracker/plugins/identity-context/package.json
  tracker/plugins/locale-context/package.json
  tracker/plugins/path-context-from-url/package.json
  tracker/plugins/react-navigation/package.json
  tracker/plugins/react-router-tracked-components/package.json
  tracker/plugins/root-location-context-from-url/package.json
  tracker/queues/local-storage/package.json
  tracker/trackers/angular/package.json
  tracker/trackers/browser/package.json
  tracker/trackers/browser/src/common/guards/isTagLocationOptions.ts
  tracker/trackers/browser/src/mutationObserver/makeBlurEventHandler.ts
  tracker/trackers/browser/tests/makeBlurEventHandler.test.ts
  tracker/trackers/browser/tests/tagLocationHelpers.test.ts
  tracker/trackers/react-native/package.json
  tracker/trackers/react/package.json
  tracker/transports/debug/package.json
  tracker/transports/fetch/package.json
  tracker/transports/xhr/package.json
  tracker/yarn.lock
Labels: Type: Bug, Type: Enhancement, Area: Tracking

#1013 ModelHub: Remove pipeline dependency
  modelhub/modelhub/modelhub.py
  modelhub/modelhub/pipelines/base_pipeline.py
  modelhub/modelhub/pipelines/extracted_contexts.py
  modelhub/modelhub/pipelines/identity_resolution.py
  modelhub/modelhub/pipelines/sessionized_data.py
  modelhub/modelhub/util.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_identity_resolution.py
  modelhub/tests_modelhub/functional/modelhub/test_pipelines_sessionized_data.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_base_pipeline.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_identity_resolution.py
  modelhub/tests_modelhub/unit/modelhub/test_pipelines_sessionized_data.py
  modelhub/tests_modelhub/unit/modelhub/test_util.py
Labels: Area: Modeling

#1015 ModelHub: table format using list-table directive
  modelhub/modelhub/modelhub.py
Labels: Area: Modeling

#1017 SDKs v0.0.22
  tracker/core/developer-tools/package.json
  tracker/core/react/package.json
  tracker/core/schema/package.json
  tracker/core/testing-tools/package.json
  tracker/core/tracker/package.json
  tracker/core/utilities/package.json
  tracker/plugins/application-context/package.json
  tracker/plugins/http-context/package.json
  tracker/plugins/identity-context/package.json
  tracker/plugins/locale-context/package.json
  tracker/plugins/path-context-from-url/package.json
  tracker/plugins/react-navigation/package.json
  tracker/plugins/react-router-tracked-components/package.json
  tracker/plugins/root-location-context-from-url/package.json
  tracker/queues/local-storage/package.json
  tracker/trackers/angular/package.json
  tracker/trackers/browser/package.json
  tracker/trackers/browser/tests/makeBlurEventHandler.test.ts
  tracker/trackers/react-native/package.json
  tracker/trackers/react/package.json
  tracker/transports/debug/package.json
  tracker/transports/fetch/package.json
  tracker/transports/xhr/package.json
  tracker/yarn.lock
Labels: Area: Tracking, Status: Ignore for Changelog

#1016 Minor docstring format & spelling fixes
  bach/bach/dataframe.py
Labels: Area: Modeling, Area: Docs

#1023 Bach bq port working tests
  bach/tests/functional/bach/test_df_append.py
  bach/tests/functional/bach/test_df_describe.py
  bach/tests/functional/bach/test_df_getitem.py
  bach/tests/functional/bach/test_df_scale.py
  bach/tests/functional/bach/test_series.py
  bach/tests/functional/bach/test_series_describe.py
Labels: Area: Bach, Type: Under the Hood

#1019 Bach include types
  bach/bach/py.typed
  bach/setup.cfg
  bach/sql_models/py.typed
  modelhub/modelhub/py.typed
  modelhub/setup.cfg
Labels: Area: Modeling, Area: Bach, Type: Under the Hood

#1020 Bach modelhub mypy
  .github/workflows/bach-tests.yml
  bach/Makefile
  bach/mypy.ini
  modelhub/modelhub/series/series_objectiv.py
  modelhub/mypy.ini
Labels: Area: Modeling, Area: Bach, Type: Under the Hood

#995 Bach: sort Series based on other existent columns from same base node
  bach/bach/dataframe.py
  bach/bach/partitioning.py
  bach/bach/series/series.py
  bach/bach/series/series_multi_level.py
  bach/bach/utils.py
  bach/tests/unit/bach/test_utils.py
Labels: Area: Bach

#1041 useOnChange equality check via isContextEqual
  tracker/core/react/package.json
  tracker/core/react/src/hooks/useOnChange.ts
  tracker/core/react/src/hooks/useOnContextChange.ts
  tracker/core/react/src/hooks/useOnToggle.ts
  tracker/core/react/src/hooks/useTrackOnChange.ts
  tracker/core/react/src/hooks/useTrackOnToggle.ts
  tracker/core/react/src/index.ts
  tracker/core/react/src/locationWrappers/LocationContextWrapper.tsx
  tracker/core/react/tests/useOnContextChange.test.ts
  tracker/core/react/tests/useOnToggle.test.ts
  tracker/core/react/tests/useTrackOnChange.test.tsx
  tracker/core/tracker/src/ContextNames.ts
  tracker/core/tracker/src/index.ts
  tracker/core/tracker/src/isAbstractContext.ts
  tracker/core/tracker/src/isContextEqual.ts
  tracker/core/tracker/tests/isContextEqual.test.ts
  tracker/core/utilities/src/generator.js
  tracker/yarn.lock
Labels: Type: Enhancement, Area: Tracking

#1040 Bach: Validation for index and series with different base_nodes
  bach/bach/dataframe.py
  bach/bach/operations/concat.py
  bach/bach/series/series.py
  bach/tests/unit/bach/test_series.py
  bach/tests/unit/bach/util.py
Labels: Area: Bach, Type: Under the Hood

#1045 Bach: Generate unique table names
  bach/tests/conftest.py
  bach/tests/functional/bach/test_df_database_create.py
  bach/tests/functional/bach/test_df_from.py
  bach/tests/functional/bach/test_df_from_pandas.py
  bach/tests/functional/bach/test_df_sample.py
  bach/tests/functional/bach/test_savepoints.py
Labels: Type: Enhancement, Priority: 2. High, Area: Bach

#1037 Bach: Refactor Series sorting behavior
  bach/bach/dataframe.py
  bach/bach/operations/concat.py
  bach/bach/partitioning.py
  bach/bach/series/series.py
  bach/bach/series/series_dict.py
  bach/bach/series/series_json.py
  bach/bach/series/series_list.py
  bach/bach/series/series_multi_level.py
  bach/bach/series/series_numeric.py
  bach/bach/series/series_uuid.py
  bach/tests/unit/bach/test_series.py
  bach/tests/unit/bach/test_series_dict.py
  bach/tests/unit/bach/test_series_list.py
  bach/tests/unit/bach/test_series_multi_level.py
  bach/tests/unit/bach/util.py
Labels: Area: Bach, Type: Under the Hood

#996 Bach: Fix sorting for Series.describe
  bach/bach/dataframe.py
  bach/bach/operations/describe.py
  bach/bach/series/series.py
  bach/tests/functional/bach/test_series_describe.py
Labels: Area: Bach

#1038 Bach: add missing typings to Series methods
  bach/bach/series/series.py
  bach/bach/series/series_multi_level.py
  modelhub/modelhub/aggregate.py
Labels: Area: Bach, Type: Under the Hood

#1048 React SDK hooks QOL tweaks
  tracker/core/developer-tools/package.json
  tracker/core/react/package.json
  tracker/core/react/src/hooks/useOnToggle.ts
  tracker/core/react/tests/useOnToggle.test.ts
  tracker/core/schema/package.json
  tracker/core/testing-tools/package.json
  tracker/core/tracker/package.json
  tracker/core/tracker/src/isAbstractContext.ts
  tracker/core/tracker/src/isContextEqual.ts
  tracker/core/tracker/tests/isContextEqual.test.ts
  tracker/core/utilities/package.json
  tracker/plugins/application-context/package.json
  tracker/plugins/http-context/package.json
  tracker/plugins/identity-context/package.json
  tracker/plugins/locale-context/package.json
  tracker/plugins/path-context-from-url/package.json
  tracker/plugins/react-navigation/package.json
  tracker/plugins/react-router-tracked-components/package.json
  tracker/plugins/root-location-context-from-url/package.json
  tracker/queues/local-storage/package.json
  tracker/trackers/angular/package.json
  tracker/trackers/browser/package.json
  tracker/trackers/react-native/package.json
  tracker/trackers/react/package.json
  tracker/transports/debug/package.json
  tracker/transports/fetch/package.json
  tracker/transports/xhr/package.json
  tracker/yarn.lock
Labels: Area: Tracking, Type: Under the Hood

#1049 Add seed param info in the notebooks
  bach/docs/source/example-notebooks/logistic-regression.rst
  notebooks/model-hub-logistic-regression.ipynb
  notebooks/sklearn-example.ipynb
Labels: Area: Modeling

#1029 Google BigQuery docs
  bach/docs/source/bach/api-reference/index.rst
  bach/docs/source/bach/core-concepts.rst
  bach/docs/source/bach/data-stores.rst
  bach/docs/source/bach/examples.rst
  bach/docs/source/bach/index.rst
  bach/docs/source/bach/what-is-bach.rst
  bach/docs/source/example-notebooks/explore-data.rst
  bach/docs/source/example-notebooks/feature-engineering.rst
  bach/docs/source/example-notebooks/feature-importance.rst
  bach/docs/source/example-notebooks/index.rst
  bach/docs/source/example-notebooks/logistic-regression.rst
  bach/docs/source/example-notebooks/machine-learning.rst
  bach/docs/source/example-notebooks/modelhub-basics.rst
  bach/docs/source/example-notebooks/open-taxonomy.rst
  bach/docs/source/example-notebooks/product-analytics.rst
  bach/docs/source/example-notebooks/user-intent.rst
  bach/docs/source/get-started-in-your-notebook.rst
  bach/docs/source/index.rst
  bach/docs/source/open-model-hub/index.rst
  modelhub/README.md
Labels: Area: Bach, Area: Docs

#1052 Fix Sphinx error on Series docs
  bach/docs/source/bach/api-reference/Series/index.rst
Labels: Area: Bach, Area: Docs

#1053 Bach: rename T typevar to SeriesSubType
  bach/bach/series/series.py
Labels: Area: Bach, Area: Docs, Type: Under the Hood

#1057 Speed up tracker workflow
  .github/workflows/tracker-tests.yml
Labels: Area: Tracking, Type: Under the Hood

#1058 Add build job to tracker workflow
  .github/workflows/tracker-tests.yml
Labels: Area: Tracking, Type: Under the Hood

#1031 Configurable TrackerEvent id generator
  tracker/core/developer-tools/src/EventRecorder.ts
  tracker/core/developer-tools/src/LocationTree.ts
  tracker/core/developer-tools/tests/EventRecorder.test.ts
  tracker/core/developer-tools/tests/OpenTaxonomyValidationPlugin.test.ts
  tracker/core/developer-tools/tests/ValidationRules.test.ts
  tracker/core/react/src/hooks/useTrackOnMount.ts
  tracker/core/react/src/hooks/useTrackOnMountOnce.ts
  tracker/core/react/src/hooks/useTrackOnToggle.ts
  tracker/core/react/src/hooks/useTrackOnUnmount.ts
  tracker/core/react/src/hooks/useTrackOnUnmountOnce.ts
  tracker/core/react/tests/ObjectivProvider.test.tsx
  tracker/core/react/tests/TrackerProvider.test.tsx
  tracker/core/react/tests/TrackingContextProvider.test.tsx
  tracker/core/testing-tools/src/matchUUID.ts
  tracker/core/tracker/src/ContextFactories.ts
  tracker/core/tracker/src/Tracker.ts
  tracker/core/tracker/src/TrackerEvent.ts
  tracker/core/tracker/src/helpers.ts
  tracker/core/tracker/src/index.ts
  tracker/core/tracker/src/uuidv4.ts
  tracker/core/tracker/tests/ContextFactories.test.ts
  tracker/core/tracker/tests/Tracker.test.ts
  tracker/core/tracker/tests/TrackerEvent.test.ts
  tracker/core/tracker/tests/TrackerPlugins.test.ts
  tracker/core/tracker/tests/TrackerQueue.test.ts
  tracker/core/tracker/tests/TrackerTransport.test.ts
  tracker/core/tracker/tests/uuidv4.test.ts
  tracker/core/utilities/src/generator.js
  tracker/plugins/application-context/tests/ApplicationContextPlugin.test.ts
  tracker/plugins/http-context/tests/HttpContextPlugin.node.test.ts
  tracker/plugins/http-context/tests/HttpContextPlugin.test.ts
  tracker/plugins/identity-context/tests/IdentityContextPlugin.test.ts
  tracker/plugins/locale-context/tests/LocaleContextPlugin.node.test.ts
  tracker/plugins/locale-context/tests/LocaleContextPlugin.test.ts
  tracker/plugins/path-context-from-url/tests/PathContextFromURLPlugin.node.test.ts
  tracker/plugins/path-context-from-url/tests/PathContextFromURLPlugin.test.ts
  tracker/plugins/root-location-context-from-url/tests/RootLocationContextFromURLPlugin.node.test.ts
  tracker/plugins/root-location-context-from-url/tests/RootLocationContextFromURLPlugin.test.ts
  tracker/queues/local-storage/tests/LocalStorageQueueStore.test.ts
  tracker/trackers/browser/src/eventTrackers/trackEvent.ts
  tracker/trackers/browser/src/locationTaggers/tagLocation.ts
  tracker/trackers/browser/tests/BrowserTracker.test.ts
  tracker/trackers/browser/tests/getElementLocationStack.test.ts
  tracker/trackers/browser/tests/makeBlurEventHandler.test.ts
  tracker/trackers/browser/tests/makeClickEventHandler.test.ts
  tracker/trackers/browser/tests/makeMutationCallback.test.ts
  tracker/trackers/browser/tests/startAutoTracking.test.ts
  tracker/trackers/browser/tests/trackEvent.test.ts
  tracker/trackers/browser/tests/trackNewElement.test.ts
  tracker/trackers/browser/tests/trackNewElements.test.ts
  tracker/trackers/browser/tests/trackRemovedElements.test.ts
  tracker/trackers/browser/tests/trackVisibilityHiddenEvent.test.ts
  tracker/trackers/browser/tests/trackVisibilityVisibleEvent.test.ts
  tracker/trackers/react-native/tests/ReactNativeTracker.test.ts
  tracker/trackers/react/tests/ReactTracker.test.ts
  tracker/transports/debug/tests/DebugTransport.test.ts
  tracker/transports/fetch/tests/FetchTransport.test.ts
  tracker/transports/xhr/tests/XHRTransport.test.ts
Labels: Type: Enhancement, Area: Tracking

#979 Update table update query with index and missing columns
  backend/objectiv_backend/snowplow/docs/gcp.md
Labels: Area: Docs, Component: BigQuery

#1061 Bach: SeriesJson.json.flatten_array implementation
  bach/bach/series/array_operations/__init__.py
  bach/bach/series/array_operations/flattening.py
  bach/bach/series/series_json.py
  bach/tests/functional/bach/test_series_json.py
Labels: Area: Bach

#1069 Update README.md
  README.md
Labels: Type: Under the Hood

#1073 Bach: Fix examples in doctests
  bach/bach/dataframe.py
  bach/bach/series/series_json.py
Labels: Area: Bach, Area: Docs

#1064 Bach: Add BigQuery support in tests in functional/bach/test_df_window
  bach/tests/functional/bach/test_df_window.py
Labels: Area: Bach, Type: Under the Hood

#1062 Add aggregate function to SeriesString: to_json_array
  bach/bach/series/series_string.py
  bach/tests/functional/bach/test_series_string.py
Labels: Area: Bach

#1067 ModelHub: Get Navigation paths from location stack
  bach/bach/dataframe.py
  modelhub/modelhub/aggregate.py
  modelhub/tests_modelhub/functional/modelhub/test_model_hub_navigation_paths.py
Labels: Area: Modeling

#1077 Update getting started docs for Deepnote
  bach/docs/source/get-started-in-your-notebook.rst
Labels: Area: Docs

#1066 Do not assume None is a string - Bach BQ test fix
  bach/bach/dataframe.py
  bach/bach/expression.py
  bach/bach/series/series.py
  bach/bach/series/series_boolean.py
  bach/bach/series/series_datetime.py
  bach/bach/series/series_dict.py
  bach/bach/series/series_json.py
  bach/bach/series/series_list.py
  bach/bach/series/series_multi_level.py
  bach/bach/series/series_numeric.py
  bach/bach/series/series_string.py
  bach/bach/series/series_uuid.py
  bach/bach/types.py
  bach/tests/functional/bach/test_bt_custom_types.py
  bach/tests/functional/bach/test_data_and_utils.py
  bach/tests/functional/bach/test_df_merge.py
  bach/tests/functional/bach/test_series.py
  bach/tests/unit/bach/util.py
  modelhub/modelhub/map.py
Labels: Area: Bach, Component: BigQuery

#1076 Sync queue until session established
  tracker/.changeset/fluffy-poems-joke.md
  tracker/.changeset/green-chicken-repair.md
  tracker/.changeset/pre.json
  tracker/core/developer-tools/package.json
  tracker/core/react/package.json
  tracker/core/schema/package.json
  tracker/core/testing-tools/package.json
  tracker/core/tracker/package.json
  tracker/core/tracker/src/TrackerQueue.ts
  tracker/core/utilities/package.json
  tracker/package.json
  tracker/plugins/application-context/package.json
  tracker/plugins/http-context/package.json
  tracker/plugins/identity-context/package.json
  tracker/plugins/identity-context/tests/IdentityContextPlugin.test.ts
  tracker/plugins/locale-context/package.json
  tracker/plugins/path-context-from-url/package.json
  tracker/plugins/react-navigation/package.json
  tracker/plugins/react-navigation/tests/makeLinkPressListener.test.tsx
  tracker/plugins/react-router-tracked-components/package.json
  tracker/plugins/root-location-context-from-url/package.json
  tracker/queues/local-storage/package.json
  tracker/trackers/angular/package.json
  tracker/trackers/browser/package.json
  tracker/trackers/browser/tests/BrowserTracker.test.ts
  tracker/trackers/react-native/package.json
  tracker/trackers/react-native/tests/ReactNativeTracker.test.ts
  tracker/trackers/react/package.json
  tracker/trackers/react/tests/ReactTracker.test.ts
  tracker/trackers/react/tests/withoutDOM.test.ts
  tracker/transports/debug/package.json
  tracker/transports/fetch/package.json
  tracker/transports/xhr/package.json
  tracker/turbo.json
  tracker/yarn.lock
Labels: Type: Bug, Area: Tracking

#1079 Client versions and session
  backend/tests/schema/test_schema.py
  schema/event_list.json5
  tracker/.changeset/funny-ears-tell.md
  tracker/.changeset/pre.json
  tracker/CONTRIBUTING.md
  tracker/core/developer-tools/package.json
  tracker/core/developer-tools/src/index.ts
  tracker/core/react/package.json
  tracker/core/react/src/index.ts
  tracker/core/schema/package.json
  tracker/core/schema/src/index.d.ts
  tracker/core/testing-tools/package.json
  tracker/core/testing-tools/src/index.ts
  tracker/core/tracker/package.json
  tracker/core/tracker/src/TrackerGlobalsInterface.ts
  tracker/core/tracker/src/index.ts
  tracker/core/utilities/package.json
  tracker/package.json
  tracker/plugins/application-context/package.json
  tracker/plugins/application-context/src/index.ts
  tracker/plugins/http-context/package.json
  tracker/plugins/http-context/src/index.ts
  tracker/plugins/identity-context/package.json
  tracker/plugins/identity-context/src/index.ts
  tracker/plugins/locale-context/package.json
  tracker/plugins/locale-context/src/index.ts
  tracker/plugins/path-context-from-url/package.json
  tracker/plugins/path-context-from-url/src/index.ts
  tracker/plugins/react-navigation/package.json
  tracker/plugins/react-navigation/src/index.ts
  tracker/plugins/react-router-tracked-components/package.json
  tracker/plugins/react-router-tracked-components/src/index.ts
  tracker/plugins/root-location-context-from-url/package.json
  tracker/plugins/root-location-context-from-url/src/index.ts
  tracker/queues/local-storage/package.json
  tracker/queues/local-storage/src/index.ts
  tracker/trackers/angular/package.json
  tracker/trackers/browser/package.json
  tracker/trackers/browser/src/index.ts
  tracker/trackers/react-native/package.json
  tracker/trackers/react-native/src/index.ts
  tracker/trackers/react/package.json
  tracker/trackers/react/src/index.ts
  tracker/transports/debug/package.json
  tracker/transports/debug/src/index.ts
  tracker/transports/fetch/package.json
  tracker/transports/fetch/src/defaultFetchFunction.ts
  tracker/transports/fetch/src/index.ts
  tracker/transports/fetch/tests/FetchTransport.test.ts
  tracker/transports/xhr/package.json
  tracker/transports/xhr/src/defaultXHRFunction.ts
  tracker/transports/xhr/src/index.ts
  tracker/transports/xhr/tests/XHRTransport.test.ts
  tracker/turbo.json
  tracker/yarn.lock
Labels: Type: Enhancement, Area: Tracking

#1081 Locale context language and country
  .github/workflows/verify-locale-codes.yml
  backend/objectiv_backend/schema/schema.py
  schema/base_schema.json5
  tracker/core/schema/src/generated/global_contexts.d.ts
  tracker/core/tracker/src/generated/ContextFactories.ts
  tracker/core/tracker/tests/ContextFactories.test.ts
  tracker/core/utilities/package.json
  tracker/core/utilities/src/generateCountryCodes.js
  tracker/core/utilities/src/generateLanguageCodes.js
  tracker/plugins/locale-context/src/LocaleContextPlugin.ts
  tracker/plugins/locale-context/src/generated/CountryCodes.ts
  tracker/plugins/locale-context/src/generated/LanguageCodes.ts
  tracker/plugins/locale-context/src/index.ts
  tracker/plugins/locale-context/tests/LocaleContextPlugin.node.test.ts
  tracker/plugins/locale-context/tests/LocaleContextPlugin.test.ts
  tracker/plugins/locale-context/tests/__snapshots__/generated.test.ts.snap
  tracker/plugins/locale-context/tests/generated.test.ts
  tracker/turbo.json
  tracker/yarn.lock
Labels: Area: Tracking, Type: Story

#1085 Promote v0.0.23 prerelease to latest
  tracker/.changeset/fluffy-poems-joke.md
  tracker/.changeset/funny-ears-tell.md
  tracker/.changeset/green-chicken-repair.md
  tracker/.changeset/pre.json
  tracker/core/developer-tools/package.json
  tracker/core/react/package.json
  tracker/core/schema/package.json
  tracker/core/testing-tools/package.json
  tracker/core/tracker/package.json
  tracker/core/utilities/package.json
  tracker/plugins/application-context/package.json
  tracker/plugins/http-context/package.json
  tracker/plugins/identity-context/package.json
  tracker/plugins/locale-context/package.json
  tracker/plugins/path-context-from-url/package.json
  tracker/plugins/react-navigation/package.json
  tracker/plugins/react-router-tracked-components/package.json
  tracker/plugins/root-location-context-from-url/package.json
  tracker/queues/local-storage/package.json
  tracker/trackers/angular/package.json
  tracker/trackers/browser/package.json
  tracker/trackers/react-native/package.json
  tracker/trackers/react/package.json
  tracker/transports/debug/package.json
  tracker/transports/fetch/package.json
  tracker/transports/xhr/package.json
  tracker/yarn.lock
Labels: Type: Under the Hood

#1086 Fix annoying flaky test
  tracker/core/tracker/src/TrackerTransportRetryAttempt.ts
  tracker/core/tracker/tests/TrackerTransport.test.ts
Labels: Type: Under the Hood
